# Data Cleaning - all companies
Clean the dataset by handling missing values, removing duplicates, correcting data types. This step ensures the data is ready for analysis and modeling. Missing values in the resulting dataframe were handled by replacing with 0.

In [1]:
# Import necessary libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import re
from datetime import datetime
import os

# Set display options for better readability
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', 100)
pd.set_option('display.width', 1000)
pd.set_option('display.float_format', '{:.2f}'.format)

In [5]:
companies_df = pd.read_csv('/Users/aminosaurier/Downloads/spring_2025_startup_survival_large_files/companies.csv', sep=',', header=0)

# Check for missing values
missing_values = companies_df.isnull().sum()
missing_percentage = (missing_values / len(companies_df)) * 100

# Create a DataFrame to display missing values information
missing_info = pd.DataFrame({
    'Missing Values': missing_values,
    'Missing Percentage': missing_percentage
})

print("\nMissing values analysis:")
print(missing_info[missing_info['Missing Values'] > 0].sort_values('Missing Percentage', ascending=False))

Missing values analysis:
                     Missing Values  Missing Percentage
parent_id                    196553              100.00
ROI                          195827               99.63
first_investment_at          193970               98.69
last_investment_at           193970               98.69
investment_rounds            193962               98.68
invested_companies           193962               98.68
closed_at                    193933               98.67
short_description            189422               96.37
funding_total_usd            168679               85.82
first_funding_at             165046               83.97
last_funding_at              165046               83.97
funding_rounds               164846               83.87
state_code                   145650               74.10
twitter_username             115962               59.00
tag_list                     115101               58.56
lat                          112701               57.34
lng                          112701               57.34
city                         112663               57.32
country_code                 108563               55.23
founded_at                   105326               53.59
milestones                   104854               53.35
last_milestone_at            104854               53.35
first_milestone_at           104854               53.35
description                  104505               53.17
logo_height                   86443               43.98
logo_width                    86443               43.98
logo_url                      86443               43.98
category_code                 73367               37.33
domain                        70008               35.62
homepage_url                  70008               35.62
overview                      69582               35.40
relationships                 66886               34.03
created_by                    41020               20.87
normalized_name                  26                0.01
name                             23                0.01

In [7]:
# Identify columns to drop based on high missing percentage or redundancy
print("\nIdentifying columns to drop...")

# Columns with very high missing values (>95%) except 'closed_at'
high_missing_cols = missing_info[missing_info['Missing Percentage'] > 95].index.tolist()
print(f"Columns with >95% missing values: {high_missing_cols}")

# Redundant identifier columns
redundant_cols = ['Unnamed: 0.1']  # This appears to be just a row index
print(f"Redundant columns: {redundant_cols}")

# Columns with limited analytical value and categorical cols
limited_value_cols = ['entity_id', 'id', 'created_by', 'lat', 'domain', 'twitter_username', 'homepage_url', 'permalink', 'normalized_name', 'lng', 'tag_list', 'overview', 'description', 'short_description', 'logo_url', 'logo_width', 'logo_height', 'parent_id']
print(f"Columns with limited analytical value: {limited_value_cols}")

# Combine all columns to drop
columns_to_drop = high_missing_cols + redundant_cols + limited_value_cols
print(f"\nTotal columns to drop: {len(columns_to_drop)}")
print(columns_to_drop)

# Drop the identified columns
df = pd.read_csv('/Users/aminosaurier/Downloads/spring_2025_startup_survival_large_files/companies.csv', sep=',', header=0)
df_cleaned = df.drop(columns=columns_to_drop, errors='ignore')
print(f"\nShape after dropping columns: {df_cleaned.shape}")

Identifying columns to drop...
Columns with >95% missing values: ['parent_id', 'short_description', 'first_investment_at', 'last_investment_at', 'investment_rounds', 'invested_companies', 'ROI']
Redundant columns: ['Unnamed: 0.1']
Columns with limited analytical value: ['entity_id', 'id', 'created_by', 'lat', 'domain', 'twitter_username', 'homepage_url', 'permalink', 'normalized_name', 'lng', 'tag_list', 'overview', 'description', 'short_description', 'logo_url', 'logo_width', 'logo_height', 'parent_id']

Total columns to drop: 26
['parent_id', 'short_description', 'first_investment_at', 'last_investment_at', 'investment_rounds', 'invested_companies', 'ROI', 'Unnamed: 0.1', 'entity_id', 'id', 'created_by', 'lat', 'domain', 'twitter_username', 'homepage_url', 'permalink', 'normalized_name', 'lng', 'tag_list', 'overview', 'description', 'short_description', 'logo_url', 'logo_width', 'logo_height', 'parent_id']

Shape after dropping columns: (196553, 20)

In [8]:
# Check for outliers in numeric columns
print("\nChecking for outliers in numeric columns...")

# Function to detect outliers using IQR method
def detect_outliers(df, column):
    Q1 = df[column].quantile(0.25)
    Q3 = df[column].quantile(0.75)
    IQR = Q3 - Q1
    lower_bound = Q1 - 1.5 * IQR
    upper_bound = Q3 + 1.5 * IQR
    outliers = df[(df[column] < lower_bound) | (df[column] > upper_bound)][column]
    return outliers.count()

# Check outliers in key numeric columns
numeric_cols_for_outliers = ['funding_total_usd', 'funding_rounds', 'relationships', 'age_years']
for col in numeric_cols_for_outliers:
    if col in df_cleaned.columns and df_cleaned[col].notnull().sum() > 0:
        outlier_count = detect_outliers(df_cleaned, col)
        print(f"Found {outlier_count} outliers in {col}")

# For funding_total_usd, cap extreme values at 99.9 percentile
if 'funding_total_usd' in df_cleaned.columns:
    cap_value = df_cleaned['funding_total_usd'].quantile(0.999)
    extreme_values = df_cleaned['funding_total_usd'] > cap_value
    if extreme_values.sum() > 0:
        print(f"Capping {extreme_values.sum()} extreme funding values at {cap_value}")
        df_cleaned.loc[extreme_values, 'funding_total_usd'] = cap_value

Checking for outliers in numeric columns...
Found 3468 outliers in funding_total_usd
Found 2369 outliers in funding_rounds
Found 9753 outliers in relationships
Capping 28 extreme funding values at 687250706.522175

In [9]:
# Calculate company age and add as a new column 'age'
# Define time_now as the end of 2014
time_now = pd.to_datetime('2014-12-31') # the last founding date in the dataset is 2014-09-30

# Convert date columns to datetime
df_cleaned['founded_at'] = pd.to_datetime(df_cleaned['founded_at'], errors='coerce')
df_cleaned['closed_at'] = pd.to_datetime(df_cleaned['closed_at'], errors='coerce')

# Create age column
df_cleaned['age'] = np.nan

# Calculate age for companies that have closed
closed_mask = ~df_cleaned['closed_at'].isna() & ~df_cleaned['founded_at'].isna()
df_cleaned.loc[closed_mask, 'age'] = (df_cleaned.loc[closed_mask, 'closed_at'] - 
                                     df_cleaned.loc[closed_mask, 'founded_at']).dt.days / 365.25

# Calculate age for companies still operating
operating_mask = df_cleaned['closed_at'].isna() & ~df_cleaned['founded_at'].isna()
df_cleaned.loc[operating_mask, 'age'] = (time_now - 
                                        df_cleaned.loc[operating_mask, 'founded_at']).dt.days / 365.25

# Calculate median age for companies with valid age
median_age = df_cleaned['age'].median()

# Handle case where median might be NaN
if pd.isna(median_age):
    median_age = 5.0  # Default reasonable value
    print(f"No valid ages found. Using default median age of {median_age:.2f} years")
else:
    print(f"Using median age of {median_age:.2f} years for companies with missing founding dates")

# Assign median age to companies with missing founded_at
missing_founded_mask = df_cleaned['founded_at'].isna()
df_cleaned.loc[missing_founded_mask, 'age'] = median_age

# Round age to 2 decimal places for readability
df_cleaned['age'] = df_cleaned['age'].round(2)

# Display age statistics
print("\nCompany age statistics:")
print(df_cleaned['age'].describe())

# Count of companies by age calculation method
print("\nAge calculation breakdown:")
print(f"Companies with closed date: {closed_mask.sum()}")
print(f"Active companies with founding date: {operating_mask.sum()}")
print(f"Companies using median age: {missing_founded_mask.sum()}")

Using median age of 6.00 years for companies with missing founding dates

Company age statistics:
count   196553.00
mean         7.37
std          6.91
min        -40.31
25%          6.00
50%          6.00
75%          6.00
max        114.00
Name: age, dtype: float64

Age calculation breakdown:
Companies with closed date: 2011
Active companies with founding date: 89216
Companies using median age: 105326

In [10]:
# Find all rows with negative age values
negative_age_rows = df_cleaned[df_cleaned['age'] < 0]

# Display the count
print(f"Found {len(negative_age_rows)} rows with negative age values")

# Display the negative age rows
print("\nRows with negative age values:")
print(negative_age_rows)

# Optional: Display just the key date columns to understand the issue
if not negative_age_rows.empty:
    print("\nKey date information for negative age rows:")
    for idx, row in negative_age_rows.iterrows():
        print(f"\nRow index: {idx}")
        print(f"Company name: {row.get('name', 'N/A')}")
        print(f"Age: {row['age']}")
        print(f"Founded at: {row['founded_at']}")
        print(f"Closed at: {row['closed_at']}")

Found 44 rows with negative age values

Rows with negative age values:
       entity_type                          name    category_code    status founded_at  closed_at country_code state_code           city              region first_funding_at last_funding_at  funding_rounds  funding_total_usd first_milestone_at last_milestone_at  milestones  relationships           created_at           updated_at    age
936        Company                         Peers              web    closed 2011-09-01 2011-01-01          NaN        NaN            NaN             unknown              NaN             NaN             NaN                NaN                NaN               NaN         NaN            NaN  2011-09-14 18:25:19  2013-08-06 21:44:09  -0.67
3624       Company                        Zooomr              web    closed 2006-03-01 2006-01-01          USA         CA  San Francisco              SF Bay       2006-02-01      2006-02-01            1.00           50000.00                NaN               NaN         NaN           2.00  2007-07-11 02:02:21  2013-12-04 00:45:01  -0.16
7037       Company                  Bluebox Now!      games_video    closed 2011-08-08 2011-01-01          USA         WA        Seattle             Seattle       2011-11-01      2011-11-01            1.00                NaN         2011-06-12        2011-06-12        1.00           2.00  2011-11-03 03:18:54  2013-05-20 17:39:27  -0.60
10819      Company                   Wiredoo.com           search    closed 2012-12-01 2012-01-01          NaN        NaN            NaN             unknown              NaN             NaN             NaN                NaN         2011-01-01        2011-10-01        2.00           1.00  2012-01-02 12:24:03  2013-11-15 23:19:55  -0.92
15888      Company                Pick a Student       consulting    closed 2011-06-30 2011-06-01          NaN        NaN            NaN             unknown       2011-06-14      2011-06-14            1.00           40000.00                NaN               NaN         NaN            NaN  2012-03-22 13:06:08  2013-10-25 10:22:48  -0.08
18755      Company                 Fifth Reserve        ecommerce    closed 2012-04-01 2012-01-01          NaN        NaN            NaN             unknown              NaN             NaN             NaN                NaN                NaN               NaN         NaN            NaN  2012-04-25 20:11:07  2013-02-19 04:19:00  -0.25
22585      Company     People's Software Company              web    closed 2008-05-01 2008-01-01          USA         NY            NaN    New York - Other       2008-05-01      2008-05-01            1.00                NaN         2008-05-01        2008-05-01        1.00           2.00  2012-06-11 21:23:12  2013-03-29 02:52:03  -0.33
27535      Company                     Poosh All           mobile    closed 2012-05-01 2012-01-01          NaN        NaN            NaN             unknown              NaN             NaN             NaN                NaN         2012-05-01        2012-05-01        1.00            NaN  2012-08-07 18:46:19  2013-02-23 04:24:50  -0.33
29421      Company                    Roundcourt              web    closed 2012-02-01 2012-01-01          USA         NY       New York            New York              NaN             NaN             NaN                NaN         2012-02-01        2012-02-01        1.00           1.00  2012-08-29 04:33:43  2013-04-11 03:09:44  -0.08
29713      Company                       adBrite      advertising  acquired 2003-01-01 2001-02-01          USA         CA  San Francisco              SF Bay       2004-09-01      2012-05-01            4.00        40400000.00         2010-05-18        2013-06-20        3.00          17.00  2007-07-14 10:55:52  2013-04-22 06:49:03  -1.91
37570      Company                     HealthLok              web    closed 2008-10-01 2008-01-01          USA         NE          Omaha               Omaha       2006-01-01      2008-01-01            2.00                NaN         2008-11-01        2008-11-01        1.00           2.00  2009-01-27 21:36:21  2013-10-05 07:31:05  -0.75
48990      Company                  HealthyTweet              web    closed 2009-02-10 2009-01-01          NaN        NaN            NaN             unknown       2009-02-18      2009-02-18            1.00          500000.00                NaN               NaN         NaN            NaN  2009-02-23 07:06:27  2013-10-14 06:09:51  -0.11
50495      Company                        Fliggo      games_video    closed 2012-06-11 2009-09-17          USA         CA  San Francisco              SF Bay       2009-01-01      2009-01-01            1.00                NaN         2011-03-01        2011-03-01        1.00           2.00  2009-02-25 12:52:14  2013-12-06 23:38:07  -2.73
51085      Company               GEEKmaister.com           mobile    closed 2013-03-01 2013-01-01          NaN        NaN            NaN             unknown       2013-03-01      2013-03-01            1.00          100000.00                NaN               NaN         NaN           2.00  2013-03-28 17:25:51  2013-08-29 20:07:30  -0.16
60358      Company                      Skysheet         software    closed 2009-01-01 2008-12-01          NaN        NaN            NaN             unknown       2009-03-01      2009-03-01            1.00                NaN         2009-03-18        2009-03-18        1.00            NaN  2009-03-18 23:23:35  2013-10-21 10:37:02  -0.08
61431      Company                       Weblogs              web  acquired 2003-09-01 1963-05-12          USA         VA         Dulles       Washington DC              NaN             NaN             NaN                NaN         2005-01-01        2009-10-24        2.00           5.00  2008-02-12 00:23:41  2012-08-09 09:13:48 -40.31
79637      Company                      Tempolib           mobile    closed 2009-03-01 2009-02-26          FRA        NaN      Marseille           Marseille              NaN             NaN            1.00          235800.00                NaN               NaN         NaN           2.00  2009-05-02 12:58:19  2013-10-19 06:26:35  -0.01
79889      Company                     Advaliant      advertising    closed 2013-04-16 2009-05-04          USA         NY       New York            New York       2004-04-01      2004-04-01            1.00          100000.00         2007-04-01        2009-05-30        2.00           6.00  2008-02-14 03:56:39  2013-10-05 11:23:38  -3.95
84052      Company     Biziby Online Marketplace        ecommerce    closed 2013-06-20 2013-01-01          NaN        NaN            NaN             unknown              NaN             NaN             NaN                NaN         2012-11-01        2012-11-01        1.00            NaN  2013-06-20 20:33:52  2013-10-10 13:23:27  -0.47
125063     Company                      Bookrags              web  acquired 1999-01-01 1991-03-22          USA         NJ            NaN  New Jersey - Other              NaN             NaN             NaN                NaN                NaN               NaN         NaN            NaN  2009-07-08 22:25:53  2013-03-30 06:54:30  -7.78
128032     Company             OfficialVirtualDJ            music    closed 2009-06-21 2009-01-01          GBR         DC         London              London       2009-07-11      2009-07-11            1.00        34752500.00                NaN               NaN         NaN           1.00  2009-07-11 17:01:57  2013-10-03 05:00:33  -0.47
136344     Company                           Yub        ecommerce    closed 2013-01-01 2005-01-01          USA         CA  Mountain View              SF Bay       2013-11-19      2013-11-19            1.00        12000000.00                NaN               NaN         NaN           7.00  2013-11-19 10:03:47  2013-11-19 15:07:33  -8.00
142543     Company                      SMR SITE           search    closed 2009-03-01 2009-01-01          USA         FL   Delray Beach          Palm Beach       2009-05-01      2009-05-01            1.00           60000.00                NaN               NaN         NaN           2.00  2009-08-12 17:13:23  2013-10-03 06:57:54  -0.16
148803     Company                     Conecta 2       consulting    closed 2012-06-06 2012-01-01          USA         CA      Palo Alto              SF Bay       2007-06-01      2007-06-01            1.00           15000.00                NaN               NaN         NaN           5.00  2007-08-07 14:31:08  2013-11-26 00:49:11  -0.43
148983     Company  Epic Production Technologies      games_video    closed 2008-01-01 1998-11-11          USA         CA    Los Angeles         Los Angeles       2009-12-03      2009-12-03            1.00         1500000.00                NaN               NaN         NaN           2.00  2009-12-04 03:21:40  2013-10-11 12:13:53  -9.14
149377     Company                        Wakozi              web    closed 2008-03-21 2007-10-18          USA         NY  New York City            New York       2006-01-01      2006-01-01            1.00                NaN         2008-03-28        2008-03-28        1.00           1.00  2008-03-29 13:56:27  2013-10-05 08:49:34  -0.42
150481     Company                 myContactCard        messaging    closed 2007-01-01 2004-04-27          USA         CA         Irvine         Los Angeles       2009-12-24      2009-12-24            1.00           60000.00                NaN               NaN         NaN           2.00  2009-12-24 21:54:27  2013-10-10 10:58:24  -2.68
151765     Company                 ClickingHouse            other    closed 2009-11-12 2009-06-18          SGP        NaN      Singapore           Singapore       2009-01-01      2009-01-01            1.00           50000.00                NaN               NaN         NaN            NaN  2010-01-15 04:52:40  2013-10-04 09:15:46  -0.40
153477     Company                   TutorialTab        education    closed 2010-03-02 2010-01-01          NaN        NaN            NaN             unknown       2010-03-02      2010-03-02            1.00           12000.00         2010-03-02        2010-03-02        1.00           2.00  2010-02-10 02:12:44  2012-06-29 18:03:35  -0.16
155755     Company                   Dinglepharb      games_video    closed 2009-06-01 2009-01-01          HKG        NaN      Fotan N.T           Fotan N.T       2009-06-01      2009-06-01            1.00          400000.00         2009-06-01        2009-06-01        1.00           5.00  2010-03-17 19:12:24  2013-10-03 06:10:07  -0.41
157065     Company                       Amitive         software    closed 2010-01-01 2009-02-06          USA         CA      San Mateo              SF Bay       2006-08-28      2006-08-28            1.00        16000000.00                NaN               NaN         NaN           1.00  2010-04-08 14:27:46  2013-10-15 11:57:59  -0.90
157475     Company                       Catzler            other    closed 2010-09-14 2010-01-01          USA         NY             NY            New York              NaN             NaN             NaN                NaN         2008-05-27        2011-01-06        2.00            NaN  2008-04-21 23:06:17  2012-06-20 13:42:25  -0.70
157619     Company                        Avokia         software    closed 2000-01-01 1997-01-01          CAN        NaN    Toronto, ON             Toronto       2006-01-23      2006-01-23            1.00         6430000.00                NaN               NaN         NaN           1.00  2010-04-19 02:46:10  2013-03-14 05:36:28  -3.00
164692     Company                      HireHive              NaN    closed 2011-02-21 2010-11-05          NaN        NaN            NaN             unknown              NaN             NaN             NaN                NaN         2010-11-05        2010-11-05        1.00            NaN  2010-08-02 16:58:16  2011-02-22 01:20:01  -0.30
170675     Company                 Shoppingperte        ecommerce    closed 2010-09-01 2010-01-01          NaN        NaN            NaN             unknown              NaN             NaN             NaN                NaN         2007-01-01        2007-01-01        1.00           1.00  2010-10-17 14:56:13  2011-02-10 00:30:36  -0.67
170819     Company             Cortex Healthcare       enterprise    closed 2009-01-01 2000-08-30          USA         MD    Chevy Chase       Washington DC       2010-01-01      2010-01-01            1.00           60000.00         2010-10-18        2010-10-18        1.00           7.00  2010-10-19 03:38:19  2013-10-10 09:41:25  -8.34
172144     Company                   BeeFirst.in      advertising    closed 2010-10-29 2010-01-01          NaN        NaN            NaN             unknown       2010-01-01      2010-01-01            1.00            9523.00         2010-10-29        2010-10-29        1.00           2.00  2010-11-02 23:44:55  2013-05-30 17:49:36  -0.82
184870     Company                        Recoil      games_video    closed 2010-08-01 2009-01-04          USA         CA  San Francisco              SF Bay              NaN             NaN             NaN                NaN                NaN               NaN         NaN           2.00  2008-06-27 07:09:56  2010-08-03 21:56:36  -1.57
186274     Company            SproutUps Platform  network_hosting    closed 2011-04-01 2011-01-01          NaN        NaN            NaN             unknown              NaN             NaN             NaN                NaN         2010-10-01        2010-10-01        1.00           1.00  2011-05-10 02:30:58  2013-07-16 12:53:28  -0.25
186899     Company                  PharmaNation              web    closed 2008-05-01 2008-01-01          USA         NJ      Princeton           Princeton       2007-12-01      2007-12-01            1.00        25000000.00         2008-09-30        2008-09-30        1.00           1.00  2008-07-01 14:23:46  2013-10-05 11:13:47  -0.33
193324     Company                  GetCrave.com         software    closed 2011-04-16 2011-01-01          USA         CA  San Francisco              SF Bay              NaN             NaN             NaN                NaN                NaN               NaN         NaN            NaN  2011-08-05 14:11:12  2013-08-12 19:50:29  -0.29
194148     Company                      Bizy LLC        ecommerce    closed 2011-03-01 2011-01-01          USA         IL        Chicago             Chicago              NaN             NaN             NaN                NaN         2011-08-17        2011-08-17        1.00            NaN  2011-08-17 16:00:13  2013-08-15 21:11:43  -0.16
194241     Company                        Techoz       consulting    closed 2009-09-09 2009-08-18          NaN        NaN            NaN             unknown       2009-09-09      2009-09-09            1.00           50000.00         2004-08-01        2004-08-01        1.00           1.00  2011-08-18 20:20:32  2013-10-19 09:24:37  -0.06
195391     Company                      Anthillz              web    closed 2008-03-29 2008-01-01          USA         PA   Philadelphia        Philadelphia       2008-09-01      2008-09-01            1.00                NaN         2008-09-04        2008-09-04        1.00            NaN  2008-07-29 22:13:01  2013-01-31 03:48:37  -0.24

Key date information for negative age rows:

Row index: 936
Company name: Peers
Age: -0.67
Founded at: 2011-09-01 00:00:00
Closed at: 2011-01-01 00:00:00

Row index: 3624
Company name: Zooomr
Age: -0.16
Founded at: 2006-03-01 00:00:00
Closed at: 2006-01-01 00:00:00

Row index: 7037
Company name: Bluebox Now!
Age: -0.6
Founded at: 2011-08-08 00:00:00
Closed at: 2011-01-01 00:00:00

Row index: 10819
Company name: Wiredoo.com
Age: -0.92
Founded at: 2012-12-01 00:00:00
Closed at: 2012-01-01 00:00:00

Row index: 15888
Company name: Pick a Student
Age: -0.08
Founded at: 2011-06-30 00:00:00
Closed at: 2011-06-01 00:00:00

Row index: 18755
Company name: Fifth Reserve
Age: -0.25
Founded at: 2012-04-01 00:00:00
Closed at: 2012-01-01 00:00:00

Row index: 22585
Company name: People's Software Company
Age: -0.33
Founded at: 2008-05-01 00:00:00
Closed at: 2008-01-01 00:00:00

Row index: 27535
Company name: Poosh All
Age: -0.33
Founded at: 2012-05-01 00:00:00
Closed at: 2012-01-01 00:00:00

Row index: 29421
Company name: Roundcourt
Age: -0.08
Founded at: 2012-02-01 00:00:00
Closed at: 2012-01-01 00:00:00

Row index: 29713
Company name: adBrite
Age: -1.91
Founded at: 2003-01-01 00:00:00
Closed at: 2001-02-01 00:00:00

Row index: 37570
Company name: HealthLok
Age: -0.75
Founded at: 2008-10-01 00:00:00
Closed at: 2008-01-01 00:00:00

Row index: 48990
Company name: HealthyTweet
Age: -0.11
Founded at: 2009-02-10 00:00:00
Closed at: 2009-01-01 00:00:00

Row index: 50495
Company name: Fliggo
Age: -2.73
Founded at: 2012-06-11 00:00:00
Closed at: 2009-09-17 00:00:00

Row index: 51085
Company name: GEEKmaister.com
Age: -0.16
Founded at: 2013-03-01 00:00:00
Closed at: 2013-01-01 00:00:00

Row index: 60358
Company name: Skysheet
Age: -0.08
Founded at: 2009-01-01 00:00:00
Closed at: 2008-12-01 00:00:00

Row index: 61431
Company name: Weblogs
Age: -40.31
Founded at: 2003-09-01 00:00:00
Closed at: 1963-05-12 00:00:00

Row index: 79637
Company name: Tempolib
Age: -0.01
Founded at: 2009-03-01 00:00:00
Closed at: 2009-02-26 00:00:00

Row index: 79889
Company name: Advaliant
Age: -3.95
Founded at: 2013-04-16 00:00:00
Closed at: 2009-05-04 00:00:00

Row index: 84052
Company name: Biziby Online Marketplace
Age: -0.47
Founded at: 2013-06-20 00:00:00
Closed at: 2013-01-01 00:00:00

Row index: 125063
Company name: Bookrags
Age: -7.78
Founded at: 1999-01-01 00:00:00
Closed at: 1991-03-22 00:00:00

Row index: 128032
Company name: OfficialVirtualDJ
Age: -0.47
Founded at: 2009-06-21 00:00:00
Closed at: 2009-01-01 00:00:00

Row index: 136344
Company name: Yub
Age: -8.0
Founded at: 2013-01-01 00:00:00
Closed at: 2005-01-01 00:00:00

Row index: 142543
Company name: SMR SITE
Age: -0.16
Founded at: 2009-03-01 00:00:00
Closed at: 2009-01-01 00:00:00

Row index: 148803
Company name: Conecta 2
Age: -0.43
Founded at: 2012-06-06 00:00:00
Closed at: 2012-01-01 00:00:00

Row index: 148983
Company name: Epic Production Technologies
Age: -9.14
Founded at: 2008-01-01 00:00:00
Closed at: 1998-11-11 00:00:00

Row index: 149377
Company name: Wakozi
Age: -0.42
Founded at: 2008-03-21 00:00:00
Closed at: 2007-10-18 00:00:00

Row index: 150481
Company name: myContactCard
Age: -2.68
Founded at: 2007-01-01 00:00:00
Closed at: 2004-04-27 00:00:00

Row index: 151765
Company name: ClickingHouse
Age: -0.4
Founded at: 2009-11-12 00:00:00
Closed at: 2009-06-18 00:00:00

Row index: 153477
Company name: TutorialTab
Age: -0.16
Founded at: 2010-03-02 00:00:00
Closed at: 2010-01-01 00:00:00

Row index: 155755
Company name: Dinglepharb
Age: -0.41
Founded at: 2009-06-01 00:00:00
Closed at: 2009-01-01 00:00:00

Row index: 157065
Company name: Amitive
Age: -0.9
Founded at: 2010-01-01 00:00:00
Closed at: 2009-02-06 00:00:00

Row index: 157475
Company name: Catzler
Age: -0.7
Founded at: 2010-09-14 00:00:00
Closed at: 2010-01-01 00:00:00

Row index: 157619
Company name: Avokia
Age: -3.0
Founded at: 2000-01-01 00:00:00
Closed at: 1997-01-01 00:00:00

Row index: 164692
Company name: HireHive
Age: -0.3
Founded at: 2011-02-21 00:00:00
Closed at: 2010-11-05 00:00:00

Row index: 170675
Company name: Shoppingperte
Age: -0.67
Founded at: 2010-09-01 00:00:00
Closed at: 2010-01-01 00:00:00

Row index: 170819
Company name: Cortex Healthcare
Age: -8.34
Founded at: 2009-01-01 00:00:00
Closed at: 2000-08-30 00:00:00

Row index: 172144
Company name: BeeFirst.in
Age: -0.82
Founded at: 2010-10-29 00:00:00
Closed at: 2010-01-01 00:00:00

Row index: 184870
Company name: Recoil
Age: -1.57
Founded at: 2010-08-01 00:00:00
Closed at: 2009-01-04 00:00:00

Row index: 186274
Company name: SproutUps Platform
Age: -0.25
Founded at: 2011-04-01 00:00:00
Closed at: 2011-01-01 00:00:00

Row index: 186899
Company name: PharmaNation
Age: -0.33

In [11]:
# Removing companies with negative age values
# Find rows with negative age values
negative_age_rows = df_cleaned[df_cleaned['age'] < 0]
print(f"Found {len(negative_age_rows)} rows with negative age values")

# Store the original length of the dataset
original_length = len(df_cleaned)

# Remove rows with negative age values
df_cleaned = df_cleaned[df_cleaned['age'] >= 0]

# Confirm removal
print(f"Removed {original_length - len(df_cleaned)} rows with negative ages")
print(f"Dataset now has {len(df_cleaned)} rows")
print(f"New minimum age: {df_cleaned['age'].min()}")

# Display age statistics after removal
print("\nCompany age statistics after removing negative values:")
print(df_cleaned['age'].describe())

Found 44 rows with negative age values
Removed 44 rows with negative ages
Dataset now has 196509 rows
New minimum age: 0.0

Company age statistics after removing negative values:
count   196509.00
mean         7.37
std          6.91
min          0.00
25%          6.00
50%          6.00
75%          6.00
max        114.00
Name: age, dtype: float64

In [12]:
# Select only the specified columns
columns_to_keep = ['status', 'funding_rounds', 'funding_total_usd', 'milestones', 'relationships', 'age']

# Create a new dataframe with only these columns
df_cleaned = df_cleaned[columns_to_keep]

# Display information about the resulting dataframe
print(f"DataFrame now has {len(df_cleaned)} rows and {len(df_cleaned.columns)} columns")
print("\nColumns in the dataframe:")
print(df_cleaned.columns.tolist())

# Display first few rows of the resulting dataframe
print("\nFirst 5 rows of the dataframe:")
print(df_cleaned.head())

# Display basic statistics
print("\nSummary statistics:")
print(df_cleaned.describe())

DataFrame now has 196509 rows and 6 columns

Columns in the dataframe:
['status', 'funding_rounds', 'funding_total_usd', 'milestones', 'relationships', 'age']

First 5 rows of the dataframe:
      status  funding_rounds  funding_total_usd  milestones  relationships  age
0  operating            3.00        39750000.00        5.00          17.00 9.20
1   acquired             NaN                NaN         NaN           6.00 6.00
2   acquired             NaN                NaN        4.00          12.00 6.00
3  operating             NaN                NaN         NaN            NaN 6.43
4  operating             NaN                NaN         NaN            NaN 6.43

Summary statistics:
       funding_rounds  funding_total_usd  milestones  relationships       age
count        31678.00           27852.00    91674.00      129637.00 196509.00
mean             1.66        14054633.06        1.20           2.85      7.37
std              1.20        42210824.21        0.54           9.10      6.91
min              1.00             291.00        1.00           1.00      0.00
25%              1.00          500000.00        1.00           1.00      6.00
50%              1.00         2569360.50        1.00           1.00      6.00
75%              2.00        11000000.00        1.00           3.00      6.00
max             15.00       687250706.52        9.00        1189.00    114.00

In [13]:
# Save the cleaned dataset
print("\nSaving cleaned dataset...")
df_cleaned.to_csv('all_cleaned_companies.csv', index=False)
print("Saved cleaned dataset to 'all_cleaned_companies.csv'")

Saving cleaned dataset...
Saved cleaned dataset to 'all_cleaned_companies.csv'

Printing the missing percentages from the targeted columns

In [14]:
# Check for missing values
missing_values = df_cleaned.isnull().sum()
missing_percentage = (missing_values / len(df_cleaned)) * 100

# Create a DataFrame to display missing values information
missing_info = pd.DataFrame({
    'Missing Values': missing_values,
    'Missing Percentage': missing_percentage
})

print("\nMissing values analysis:")
print(missing_info[missing_info['Missing Values'] > 0].sort_values('Missing Percentage', ascending=False))

Missing values analysis:
                   Missing Values  Missing Percentage
funding_total_usd          168657               85.83
funding_rounds             164831               83.88
milestones                 104835               53.35
relationships               66872               34.03

In [15]:
df_cleaned.head(5)

      status  funding_rounds  funding_total_usd  milestones  relationships  age
0  operating            3.00        39750000.00        5.00          17.00 9.20
1   acquired             NaN                NaN         NaN           6.00 6.00
2   acquired             NaN                NaN        4.00          12.00 6.00
3  operating             NaN                NaN         NaN            NaN 6.43
4  operating             NaN                NaN         NaN            NaN 6.43

In [16]:
df_cleaned['funding_total_usd'] = df_cleaned['funding_total_usd'].fillna(0)
df_cleaned['funding_rounds'] = df_cleaned['funding_rounds'].fillna(0)

In [17]:
df_cleaned.head(10)

      status  funding_rounds  funding_total_usd  milestones  relationships  age
0  operating            3.00        39750000.00        5.00          17.00 9.20
1   acquired            0.00               0.00         NaN           6.00 6.00
2   acquired            0.00               0.00        4.00          12.00 6.00
3  operating            0.00               0.00         NaN            NaN 6.43
4  operating            0.00               0.00         NaN            NaN 6.43
5  operating            0.00               0.00         NaN           2.00 7.51
6  operating            0.00               0.00         NaN            NaN 6.36
7  operating            0.00               0.00        1.00           1.00 6.00
8  operating            0.00               0.00        1.00           2.00 6.00
9  operating            0.00               0.00        1.00           2.00 3.42

In [18]:
# Check for missing values
missing_values = df_cleaned.isnull().sum()
missing_percentage = (missing_values / len(df_cleaned)) * 100

# Create a DataFrame to display missing values information
missing_info = pd.DataFrame({
    'Missing Values': missing_values,
    'Missing Percentage': missing_percentage
})

print("\nMissing values analysis:")
print(missing_info[missing_info['Missing Values'] > 0].sort_values('Missing Percentage', ascending=False))

Missing values analysis:
               Missing Values  Missing Percentage
milestones             104835               53.35
relationships           66872               34.03

In [19]:
df_cleaned['milestones'] = df_cleaned['milestones'].fillna(0)

In [20]:
# Display information about the resulting dataframe
print(f"DataFrame now has {len(df_cleaned)} rows and {len(df_cleaned.columns)} columns")
print("\nColumns in the dataframe:")
print(df_cleaned.columns.tolist())

# Display first few rows of the resulting dataframe
print("\nFirst 5 rows of the dataframe:")
print(df_cleaned.head())

# Display basic statistics
print("\nSummary statistics:")
print(df_cleaned.describe())

DataFrame now has 196509 rows and 6 columns

Columns in the dataframe:
['status', 'funding_rounds', 'funding_total_usd', 'milestones', 'relationships', 'age']

First 5 rows of the dataframe:
      status  funding_rounds  funding_total_usd  milestones  relationships  age
0  operating            3.00        39750000.00        5.00          17.00 9.20
1   acquired            0.00               0.00        0.00           6.00 6.00
2   acquired            0.00               0.00        4.00          12.00 6.00
3  operating            0.00               0.00        0.00            NaN 6.43
4  operating            0.00               0.00        0.00            NaN 6.43

Summary statistics:
       funding_rounds  funding_total_usd  milestones  relationships       age
count       196509.00          196509.00   196509.00      129637.00 196509.00
mean             0.27         1992018.89        0.56           2.85      7.37
std              0.78        16629982.32        0.70           9.10      6.91
min              0.00               0.00        0.00           1.00      0.00
25%              0.00               0.00        0.00           1.00      6.00
50%              0.00               0.00        0.00           1.00      6.00
75%              0.00               0.00        1.00           3.00      6.00
max             15.00       687250706.52        9.00        1189.00    114.00

In [21]:
df_cleaned['relationships'] = df_cleaned['relationships'].fillna(0)

In [22]:
# Check for missing values
missing_values = df_cleaned.isnull().sum()
missing_percentage = (missing_values / len(df_cleaned)) * 100

# Create a DataFrame to display missing values information
missing_info = pd.DataFrame({
    'Missing Values': missing_values,
    'Missing Percentage': missing_percentage
})

print("\nMissing values analysis:")
print(missing_info[missing_info['Missing Values'] > 0].sort_values('Missing Percentage', ascending=False))

Missing values analysis:
Empty DataFrame
Columns: [Missing Values, Missing Percentage]
Index: []

In [23]:
# Display information about the resulting dataframe
print(f"DataFrame now has {len(df_cleaned)} rows and {len(df_cleaned.columns)} columns")
print("\nColumns in the dataframe:")
print(df_cleaned.columns.tolist())

# Display first few rows of the resulting dataframe
print("\nFirst 5 rows of the dataframe:")
print(df_cleaned.head())

# Display basic statistics
print("\nSummary statistics:")
print(df_cleaned.describe())

DataFrame now has 196509 rows and 6 columns

Columns in the dataframe:
['status', 'funding_rounds', 'funding_total_usd', 'milestones', 'relationships', 'age']

First 5 rows of the dataframe:
      status  funding_rounds  funding_total_usd  milestones  relationships  age
0  operating            3.00        39750000.00        5.00          17.00 9.20
1   acquired            0.00               0.00        0.00           6.00 6.00
2   acquired            0.00               0.00        4.00          12.00 6.00
3  operating            0.00               0.00        0.00           0.00 6.43
4  operating            0.00               0.00        0.00           0.00 6.43

Summary statistics:
       funding_rounds  funding_total_usd  milestones  relationships       age
count       196509.00          196509.00   196509.00      196509.00 196509.00
mean             0.27         1992018.89        0.56           1.88      7.37
std              0.78        16629982.32        0.70           7.51      6.91
min              0.00               0.00        0.00           0.00      0.00
25%              0.00               0.00        0.00           0.00      6.00
50%              0.00               0.00        0.00           1.00      6.00
75%              0.00               0.00        1.00           2.00      6.00
max             15.00       687250706.52        9.00        1189.00    114.00

In [24]:
# Display final dataset information
print("\nFinal dataset information:")
print(df_cleaned.info())

# Display sample of cleaned data
print("\nSample of cleaned data:")
print(df_cleaned.head())

# Display success metrics distribution
print("\nSuccess metrics distribution:")
if 'success_binary' in df_cleaned.columns:
    print(f"Success binary distribution:\n{df_cleaned['success_binary'].value_counts(dropna=False)}")
if 'success_class' in df_cleaned.columns:
    print(f"Success class distribution:\n{df_cleaned['success_class'].value_counts(dropna=False)}")

Final dataset information:
<class 'pandas.core.frame.DataFrame'>
Index: 196509 entries, 0 to 196552
Data columns (total 6 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   status             196509 non-null  object
 1   funding_rounds     196509 non-null  float64
 2   funding_total_usd  196509 non-null  float64
 3   milestones         196509 non-null  float64
 4   relationships      196509 non-null  float64
 5   age                196509 non-null  float64
dtypes: float64(5), object(1)
memory usage: 10.5+ MB
None

Sample of cleaned data:
      status  funding_rounds  funding_total_usd  milestones  relationships  age
0  operating            3.00        39750000.00        5.00          17.00 9.20
1   acquired            0.00               0.00        0.00           6.00 6.00
2   acquired            0.00               0.00        4.00          12.00 6.00
3  operating            0.00               0.00        0.00           0.00 6.43
4  operating            0.00               0.00        0.00           0.00 6.43

Success metrics distribution:

In [25]:
# Save the final dataset
print("\nSaving final dataset...")
df_cleaned.to_csv('all_final_companies.csv', index=False)
print("Saved final dataset to 'all_final_companies.csv'")

Saving final dataset...
Saved final dataset to 'all_final_companies.csv'