# EDA
Perform initial exploration of the dataset to understand its structure, available features, missing values, and potential target variables for defining "success". This step will help us understand what we're working with and how to approach the problem.

In [1]:
# Import necessary libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from matplotlib.backends.backend_pdf import PdfPages
import os
import warnings

# Suppress warnings for cleaner output
warnings.filterwarnings('ignore')

# Set display options for better readability
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', 100)
pd.set_option('display.width', 1000)
pd.set_option('display.float_format', '{:.2f}'.format)

In [6]:
# Load the dataset
# id,Unnamed: 0.1,entity_type,entity_id,parent_id,name,normalized_name,permalink,category_code,status,founded_at,closed_at,domain,homepage_url,twitter_username,logo_url,logo_width,logo_height,short_description,description,overview,tag_list,country_code,state_code,city,region,first_investment_at,last_investment_at,investment_rounds,invested_companies,first_funding_at,last_funding_at,funding_rounds,funding_total_usd,first_milestone_at,last_milestone_at,milestones,relationships,created_by,created_at,updated_at,lat,lng,ROI
try:
    companies_df = pd.read_csv('/Users/aminosaurier/Downloads/spring_2025_startup_survival_large_files/companies.csv', sep=',', header=0)
    print(f"Dataset loaded successfully with {companies_df.shape[0]} rows and {companies_df.shape[1]} columns.")
except Exception as e:
    print(f"Error loading dataset: {e}")

Dataset loaded successfully with 196553 rows and 44 columns.

In [4]:
# Display the first few rows to understand the data structure
print("First 15 rows of the dataset:")
print(companies_df.head(15))

First 15 rows of the dataset:
          id  Unnamed: 0.1 entity_type  entity_id  parent_id                           name                normalized_name                               permalink    category_code     status  founded_at closed_at                domain                     homepage_url twitter_username                                           logo_url  logo_width  logo_height short_description                             description                                           overview                                           tag_list country_code state_code           city       region first_investment_at last_investment_at  investment_rounds  invested_companies first_funding_at last_funding_at  funding_rounds  funding_total_usd first_milestone_at last_milestone_at  milestones  relationships        created_by           created_at           updated_at   lat     lng   ROI
0        c:1             0     Company          1        NaN                       Wetpaint                       wetpaint                       /company/wetpaint              web  operating  2005-10-17       NaN      wetpaint-inc.com          http://wetpaint-inc.com  BachelrWetpaint  http://s3.amazonaws.com/crunchbase_prod_assets...      401.00        54.00               NaN             Technology Platform Company  Wetpaint is a technology platform company that...  wiki, seattle, elowitz, media-industry, media-...          USA         WA        Seattle      Seattle                 NaN                NaN                NaN                 NaN       2005-10-01      2008-05-19            3.00        39750000.00         2010-09-05        2013-09-18        5.00          17.00  initial-importer  2007-05-25 06:51:27  2013-04-13 03:29:00 47.61 -122.33 15.50
1       c:10             1     Company         10        NaN                        Flektor                        flektor                        /company/flektor      games_video   acquired         NaN       NaN           flektor.com           http://www.flektor.com              NaN  http://s3.amazonaws.com/crunchbase_prod_assets...      186.00        85.00               NaN                                     NaN  Flektor is a rich-media mash-up platform that ...                              flektor, photo, video          USA         CA    Culver City  Los Angeles                 NaN                NaN                NaN                 NaN              NaN             NaN             NaN                NaN                NaN               NaN         NaN           6.00  initial-importer  2007-05-31 21:11:51  2008-05-23 23:23:14 34.02 -118.40   NaN
2      c:100             2     Company        100        NaN                          There                          there                          /company/there      games_video   acquired         NaN       NaN             there.com             http://www.there.com              NaN  http://s3.amazonaws.com/crunchbase_prod_assets...      107.00        34.00               NaN                                     NaN  There.com is an online virtual world where any...                         virtualworld, there, teens          USA         CA      San Mateo       SF Bay                 NaN                NaN                NaN                 NaN              NaN             NaN             NaN                NaN         2003-02-01        2011-09-23        4.00          12.00  initial-importer  2007-08-06 23:52:45  2013-11-04 02:09:48 37.56 -122.33   NaN
3    c:10000             3     Company      10000        NaN                        MYWEBBO                        mywebbo                        /company/mywebbo  network_hosting  operating  2008-07-26       NaN           mywebbo.com           http://www.mywebbo.com              NaN                                                NaN         NaN          NaN               NaN                                     NaN  BRAND NEW ONLINE SOCIAL NETWORKING WEBSITE,FOR...  social-network, new, website, web, friends, ch...          NaN        NaN            NaN      unknown                 NaN                NaN                NaN                 NaN              NaN             NaN             NaN                NaN                NaN               NaN         NaN            NaN               NaN  2008-08-24 16:51:57  2008-09-06 14:19:18   NaN     NaN   NaN
4    c:10001             4     Company      10001        NaN             THE Movie Streamer             the movie streamer             /company/the-movie-streamer      games_video  operating  2008-07-26       NaN  themoviestreamer.com      http://themoviestreamer.com              NaN  http://s3.amazonaws.com/crunchbase_prod_assets...      200.00        74.00               NaN                                     NaN  This company shows free movies online on their...  watch, full-length, moives, online, for, free,...          NaN        NaN            NaN      unknown                 NaN                NaN                NaN                 NaN              NaN             NaN             NaN                NaN                NaN               NaN         NaN            NaN               NaN  2008-08-24 17:10:34  2008-09-06 14:19:18   NaN     NaN   NaN
5    c:10002             5     Company      10002        NaN                 Synergie Media                 synergie media                 /company/synergie-media      advertising  operating  2007-06-27       NaN    synergie-media.com    http://www.synergie-media.com              NaN  http://s3.amazonaws.com/crunchbase_prod_assets...      284.00        48.00               NaN                                     NaN  Synergie Media is a Dutch and Moroccan Web Des...  social-media, web-design, web-development, out...          MAR        NaN         Agadir       Agadir                 NaN                NaN                NaN                 NaN              NaN             NaN             NaN                NaN                NaN               NaN         NaN           2.00               NaN  2008-08-24 17:39:10  2008-09-06 14:19:19 30.43   -9.60   NaN
6    c:10003             6     Company      10003        NaN         Green Basti Ecosystems         green basti ecosystems         /company/green-basti-ecosystems        cleantech  operating  2008-08-20       NaN                   NaN                              NaN              NaN                                                NaN         NaN          NaN               NaN                                     NaN  Creating infrastructure to provide incentives ...  cleantech, alternative-energy, biogas, carbon-...          IND        NaN       Vadodara     Vadodara                 NaN                NaN                NaN                 NaN              NaN             NaN             NaN                NaN                NaN               NaN         NaN            NaN               NaN  2008-08-24 19:49:25  2010-04-22 23:48:20 22.31   73.18   NaN
7   c:100042             7     Company     100042        NaN                       HostNine                       hostnine                       /company/hostnine              NaN  operating         NaN       NaN          hostnine.com          http://www.hostnine.com         Hostnine  http://s3.amazonaws.com/crunchbase_prod_assets...      187.00        53.00               NaN                                     NaN  At HostNine they are commited to continually e...                                                NaN          NaN        NaN            NaN      unknown                 NaN                NaN                NaN                 NaN              NaN             NaN             NaN                NaN         2011-06-20        2011-06-20        1.00           1.00               NaN  2011-09-07 00:53:17  2011-12-20 09:09:53   NaN     NaN   NaN
8    c:10005             8     Company      10005        NaN              Thomas Publishing              thomas publishing              /company/thomas-publishing      advertising  operating         NaN       NaN  thomaspublishing.com  http://www.thomaspublishing.com              NaN  http://s3.amazonaws.com/crunchbase_prod_assets...      276.00        47.00               NaN                            Online Media  For more than a century, Thomas Publishing has...                                                NaN          USA         NY       New York     New York                 NaN                NaN                NaN                 NaN              NaN             NaN             NaN                NaN         1999-06-01        1999-06-01        1.00           2.00               NaN  2008-08-24 20:21:21  2009-11-19 17:21:00 40.71  -74.01   NaN
9   c:100062             9     Company     100062        NaN  Vetter Idea Management System  vetter idea management system  /company/vetter-idea-management-system       enterprise  operating  2011-08-01       NaN         getvetter.com         http://www.getvetter.com        getvetter  http://s3.amazonaws.com/crunchbase_prod_assets...      200.00        67.00               NaN             SaaS Idea Management System  Vetter is a web-based system that helps manage...           saas, idea-management-system, innovation          NaN        NaN            NaN      unknown                 NaN                NaN                NaN                 NaN              NaN             NaN             NaN                NaN         2011-08-01        2011-08-01        1.00           2.00          dmurtagh  2011-09-07 01:04:56  2011-09-24 13:13:18   NaN     NaN   NaN
10  c:100068            10     Company     100068        NaN                     ChatRandom                     chatrandom                     /company/chatrandom      games_video  operating  2011-02-01       NaN        chatrandom.com            http://chatrandom.com       chatrandom  http://s3.amazonaws.com/crunchbase_prod_assets...      200.00        65.00               NaN                       random video chat  ChatRandom is a new Chatroulette Alternative w...  chatroulette, video-chat, webcam-chat, chat-rooms          NaN        NaN            NaN      unknown                 NaN                NaN                NaN                 NaN              NaN             NaN             NaN                NaN         2012-04-09        2012-04-09        1.00            NaN               NaN  2011-09-07 01:09:59  2011-09-12 04:14:57   NaN     NaN   NaN
11   c:10008            11     Company      10008        NaN               ScapadasAmorosas               scapadasamorosas               /company/scapadasamorosas            other  operating  2007-03-01       NaN  scapadasamorosas.com      http://scapadasamorosas.com              NaN  http://s3.amazonaws.com/crunchbase_prod_assets...      576.00       432.00               NaN  Sitio de citas para casados y casadas.  ScapadasAmorosas.com es el primer sitio de cit...  mujer-casada-busca, hombre-casado-busca, busco...          NaN        NaN            NaN      unknown                 NaN                NaN                NaN                 NaN              NaN             NaN             NaN                NaN                NaN               NaN         NaN            NaN               NaN  2008-08-24 21:48:16  2013-04-02 12:36:50   NaN     NaN   NaN
12   c:10009            12     Company      10009        NaN                dimension5 labs                dimension5 labs                /company/dimension5-labs      advertising  operating  2008-08-01       NaN            d5labs.com                http://d5labs.com              NaN  http://s3.amazonaws.com/crunchbase_prod_assets...      300.00        85.00               NaN                                     NaN  dimension5 labs is a full service digital adve...  virtual-worlds, advertising-agency, complex-pr...          USA         NM       Santa Fe     Santa Fe                 NaN                NaN                NaN                 NaN              NaN             NaN             NaN                NaN         2008-08-22        2008-08-22        1.00           2.00               NaN  2008-08-24 21:54:55  2008-12-21 17:21:53 35.69 -105.94   NaN
13    c:1001            13     Company       1001        NaN                     FriendFeed                     friendfeed                     /company/friendfeed              web   acquired  2007-10-01       NaN        friendfeed.com            http://friendfeed.com       friendfeed  http://s3.amazonaws.com/crunchbase_prod_assets...      200.00        56.00               NaN               Social network aggregator  [FriendFeed](http://www.friendfeed.com) aims t...   socialnetwork, newsfeed, socialnetworkaggregator          USA         CA  Mountain View       SF Bay                 NaN                NaN                NaN                 NaN       2008-02-26      2008-02-26            1.00         5000000.00         2008-05-01        2012-09-13        3.00          14.00  initial-importer  2007-10-01 10:17:13  2013-03-13 21:44:15 37.39 -122.08  9.50
14   c:10010            14     Company      10010        NaN                      Whooligan                      whooligan                      /company/whooligan      games_video  operating  2007-12-01       NaN         whooligan.com         http://www.whooligan.com              NaN  http://s3.amazonaws.com/crunchbase_prod_assets...      150.00        54.00               NaN                                     NaN  Whooligan is a new global soccer lifestyle bra...  videos, video, photo, photos, apparel, soccer,...          NaN        NaN            NaN      unknown                 NaN                NaN                NaN                 NaN              NaN             NaN             NaN                NaN                NaN               NaN         NaN           1.00               NaN  2008-08-24 22:10:04  2013-06-28 20:51:46   NaN     NaN   NaN

In [7]:
# Check basic information about the dataset
print("\nBasic information about the dataset:")
companies_df.info()

Basic information about the dataset:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 196553 entries, 0 to 196552
Data columns (total 44 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   id                   196553 non-null  object
 1   Unnamed: 0.1         196553 non-null  int64
 2   entity_type          196553 non-null  object
 3   entity_id            196553 non-null  int64
 4   parent_id            0 non-null       float64
 5   name                 196530 non-null  object
 6   normalized_name      196527 non-null  object
 7   permalink            196553 non-null  object
 8   category_code        123186 non-null  object
 9   status               196553 non-null  object
 10  founded_at           91227 non-null   object
 11  closed_at            2620 non-null    object
 12  domain               126545 non-null  object
 13  homepage_url         126545 non-null  object
 14  twitter_username     80591 non-null   object
 15  logo_url             110110 non-null  object
 16  logo_width           110110 non-null  float64
 17  logo_height          110110 non-null  float64
 18  short_description    7131 non-null    object
 19  description          92048 non-null   object
 20  overview             126971 non-null  object
 21  tag_list             81452 non-null   object
 22  country_code         87990 non-null   object
 23  state_code           50903 non-null   object
 24  city                 83890 non-null   object
 25  region               196553 non-null  object
 26  first_investment_at  2583 non-null    object
 27  last_investment_at   2583 non-null    object
 28  investment_rounds    2591 non-null    float64
 29  invested_companies   2591 non-null    float64
 30  first_funding_at     31507 non-null   object
 31  last_funding_at      31507 non-null   object
 32  funding_rounds       31707 non-null   float64
 33  funding_total_usd    27874 non-null   float64
 34  first_milestone_at   91699 non-null   object
 35  last_milestone_at    91699 non-null   object
 36  milestones           91699 non-null   float64
 37  relationships        129667 non-null  float64
 38  created_by           155533 non-null  object
 39  created_at           196553 non-null  object
 40  updated_at           196553 non-null  object
 41  lat                  83852 non-null   float64
 42  lng                  83852 non-null   float64
 43  ROI                  726 non-null     float64
dtypes: float64(12), int64(2), object(30)
memory usage: 66.0+ MB

In [8]:
# Check for duplicate rows
duplicate_count = companies_df.duplicated().sum()
print(f"\nNumber of duplicate rows: {duplicate_count}")

Number of duplicate rows: 0

In [9]:
# Examine data types and convert date columns to datetime format
print("\nData types before conversion:")
print(companies_df.dtypes)

# Identify date columns
date_columns = ['founded_at', 'closed_at', 'first_investment_at', 'last_investment_at', 
                'first_funding_at', 'last_funding_at', 'first_milestone_at', 
                'last_milestone_at', 'created_at', 'updated_at']

# Convert date columns to datetime
for col in date_columns:
    if col in companies_df.columns:
        companies_df[col] = pd.to_datetime(companies_df[col], errors='coerce')

print("\nData types after date conversion:")
print(companies_df.dtypes)

Data types before conversion:
id                      object
Unnamed: 0.1             int64
entity_type             object
entity_id                int64
parent_id              float64
name                    object
normalized_name         object
permalink               object
category_code           object
status                  object
founded_at              object
closed_at               object
domain                  object
homepage_url            object
twitter_username        object
logo_url                object
logo_width             float64
logo_height            float64
short_description       object
description             object
overview                object
tag_list                object
country_code            object
state_code              object
city                    object
region                  object
first_investment_at     object
last_investment_at      object
investment_rounds      float64
invested_companies     float64
first_funding_at        object
last_funding_at         object
funding_rounds         float64
funding_total_usd      float64
first_milestone_at      object
last_milestone_at       object
milestones             float64
relationships          float64
created_by              object
created_at              object
updated_at              object
lat                    float64
lng                    float64
ROI                    float64
dtype: object

Data types after date conversion:
id                             object
Unnamed: 0.1                    int64
entity_type                    object
entity_id                       int64
parent_id                     float64
name                           object
normalized_name                object
permalink                      object
category_code                  object
status                         object
founded_at             datetime64[ns]
closed_at              datetime64[ns]
domain                         object
homepage_url                   object
twitter_username               object
logo_url                       object
logo_width                    float64
logo_height                   float64
short_description              object
description                    object
overview                       object
tag_list                       object
country_code                   object
state_code                     object
city                           object
region                         object
first_investment_at    datetime64[ns]
last_investment_at     datetime64[ns]
investment_rounds             float64
invested_companies            float64
first_funding_at       datetime64[ns]
last_funding_at        datetime64[ns]
funding_rounds                float64
funding_total_usd             float64
first_milestone_at     datetime64[ns]
last_milestone_at      datetime64[ns]
milestones                    float64
relationships                 float64
created_by                     object
created_at             datetime64[ns]
updated_at             datetime64[ns]
lat                           float64
lng                           float64
ROI                           float64
dtype: object

In [10]:
# Check for missing values
missing_values = companies_df.isnull().sum()
missing_percentage = (missing_values / len(companies_df)) * 100

# Create a DataFrame to display missing values information
missing_info = pd.DataFrame({
    'Missing Values': missing_values,
    'Missing Percentage': missing_percentage
})

print("\nMissing values analysis:")
print(missing_info[missing_info['Missing Values'] > 0].sort_values('Missing Percentage', ascending=False))

Missing values analysis:
                     Missing Values  Missing Percentage
parent_id                    196553              100.00
ROI                          195827               99.63
first_investment_at          193970               98.69
last_investment_at           193970               98.69
investment_rounds            193962               98.68
invested_companies           193962               98.68
closed_at                    193933               98.67
short_description            189422               96.37
funding_total_usd            168679               85.82
first_funding_at             165046               83.97
last_funding_at              165046               83.97
funding_rounds               164846               83.87
state_code                   145650               74.10
twitter_username             115962               59.00
tag_list                     115101               58.56
lat                          112701               57.34
lng                          112701               57.34
city                         112663               57.32
country_code                 108563               55.23
founded_at                   105326               53.59
milestones                   104854               53.35
last_milestone_at            104854               53.35
first_milestone_at           104854               53.35
description                  104505               53.17
logo_height                   86443               43.98
logo_width                    86443               43.98
logo_url                      86443               43.98
category_code                 73367               37.33
domain                        70008               35.62
homepage_url                  70008               35.62
overview                      69582               35.40
relationships                 66886               34.03
created_by                    41020               20.87
normalized_name                  26                0.01
name                             23                0.01

In [11]:
# Generate summary statistics for numerical columns
numerical_summary = companies_df.describe(include=[np.number])
print("\nSummary statistics for numerical columns:")
print(numerical_summary)

Summary statistics for numerical columns:
       Unnamed: 0.1  entity_id  parent_id  logo_width  logo_height  investment_rounds  invested_companies  funding_rounds  funding_total_usd  milestones  relationships      lat      lng      ROI
count     196553.00  196553.00       0.00   110110.00    110110.00            2591.00             2591.00        31707.00           27874.00    91699.00      129667.00 83852.00 83852.00   726.00
mean       98276.00  153006.23        NaN      459.13       222.73               2.37                2.20            1.66        14816520.42        1.20           2.85    37.56   -52.12    45.75
std        56740.11   90209.25        NaN      594.98       333.09              12.17               11.44            1.20        67759366.56        0.54           9.10    15.48    70.05   572.04
min            0.00       1.00        NaN        1.00         1.00               1.00                1.00            1.00             291.00        1.00           1.00   -50.94  -159.50     0.01
25%        49138.00   59850.00        NaN      192.00        70.00               1.00                1.00            1.00          500000.00        1.00           1.00    34.05  -111.94     2.65
50%        98276.00  174539.00        NaN      267.00       105.00               1.00                1.00            1.00         2564500.00        1.00           1.00    39.77   -77.04     6.50
75%       147414.00  232655.00        NaN      484.00       232.00               1.00                1.00            2.00        11000000.00        1.00           3.00    45.42    -0.13    13.55
max       196552.00  286215.00        NaN    18200.00      9600.00             478.00              459.00           15.00      5700000000.00        9.00        1189.00    77.55   176.21 13333.33

In [12]:
# Analyze categorical columns
categorical_columns = companies_df.select_dtypes(include=['object']).columns
categorical_summary = pd.DataFrame({
    'Column': categorical_columns,
    'Unique Values': [companies_df[col].nunique() for col in categorical_columns],
    'Most Common Value': [companies_df[col].value_counts().index[0] if not companies_df[col].isna().all() and len(companies_df[col].value_counts()) > 0 else 'N/A' for col in categorical_columns],
    'Most Common Count': [companies_df[col].value_counts().iloc[0] if not companies_df[col].isna().all() and len(companies_df[col].value_counts()) > 0 else 0 for col in categorical_columns],
    'Missing Values': [companies_df[col].isna().sum() for col in categorical_columns],
    'Missing Percentage': [companies_df[col].isna().sum() / len(companies_df) * 100 for col in categorical_columns]
})

print("\nSummary of categorical columns:")
print(categorical_summary)

Summary of categorical columns:
               Column  Unique Values                                  Most Common Value  Most Common Count  Missing Values  Missing Percentage
0                  id         196553                                             c:9998                  1               0                0.00
1         entity_type              1                                            Company             196553               0                0.00
2                name         196347                                                  L                  8              23                0.01
3     normalized_name         195451                                                  l                  9              26                0.01
4           permalink         196512                                 /company/bboescape                  3               0                0.00
5       category_code             42                                           software              17922           73367               37.33
6              status              4                                          operating             183441               0                0.00
7              domain         125498                                   placeshilton.com                 44           70008               35.62
8        homepage_url         125961                         http://www.dachisgroup.com                  5           70008               35.62
9    twitter_username          79571                                         Goodman_UK                 20          115962               59.00
10           logo_url         110110  http://s3.amazonaws.com/crunchbase_prod_assets...                  1           86443               43.98
11  short_description           7126                                                  L                  3          189422               96.37
12        description          83696                     Garage Door Repair/Replacement                144          104505               53.17
13           overview         126515                                                 We                 40           69582               35.40
14           tag_list          79133  garage-door-springs, broken-spring-repair--rep...                210          115101               58.56
15       country_code            175                                                USA              51637          108563               55.23
16         state_code             51                                                 CA              16489          145650               74.10
17               city          10652                                           New York               3816          112663               57.32
18             region           5847                                            unknown             109866               0                0.00
19         created_by          55329                                         dhawalarco              10005           41020               20.87

In [5]:
# Analyze the 'status' column
if 'status' in companies_df.columns:
    status_counts = companies_df['status'].value_counts()
    print("\nDistribution of company statuses:")
    print(status_counts)

    # Calculate percentage
    status_percentage = (status_counts / status_counts.sum() * 100).round(2)
    print("\nPercentage distribution of company statuses:")
    print(status_percentage)

Distribution of company statuses:
status
operating    183441
acquired       9394
closed         2584
ipo            1134
Name: count, dtype: int64

Percentage distribution of company statuses:
status
operating   93.33
acquired     4.78
closed       1.31
ipo          0.58
Name: count, dtype: float64

In [14]:
# Analyze the 'category_code' column to understand industry distribution
if 'category_code' in companies_df.columns:
    category_counts = companies_df['category_code'].value_counts().head(20)  # Top 20 categories
    print("\nTop 20 industry categories:")
    print(category_counts)

Top 20 industry categories:
category_code
software            17922
web                 15118
other               13617
ecommerce            9065
games_video          7520
mobile               6862
advertising          6098
consulting           5006
enterprise           4441
biotech              4430
hardware             2951
education            2901
public_relations     2846
network_hosting      2350
search               2182
cleantech            1940
health               1698
finance              1386
social               1310
security             1171
Name: count, dtype: int64

In [15]:
# Analyze funding information
funding_columns = ['funding_rounds', 'funding_total_usd']
for col in funding_columns:
    if col in companies_df.columns:
        print(f"\nSummary statistics for {col}:")
        print(companies_df[col].describe())

Summary statistics for funding_rounds:
count   31707.00
mean        1.66
std         1.20
min         1.00
25%         1.00
50%         1.00
75%         2.00
max        15.00
Name: funding_rounds, dtype: float64

Summary statistics for funding_total_usd:
count        27874.00
mean      14816520.42
std       67759366.56
min            291.00
25%         500000.00
50%        2564500.00
75%       11000000.00
max     5700000000.00
Name: funding_total_usd, dtype: float64

In [16]:
# Analyze ROI as a potential target variable
if 'ROI' in companies_df.columns:
    print("\nSummary statistics for ROI:")
    print(companies_df['ROI'].describe())

    # Count non-null ROI values
    roi_count = companies_df['ROI'].notna().sum()
    print(f"\nNumber of companies with ROI data: {roi_count} ({roi_count/len(companies_df)*100:.2f}%)")

Summary statistics for ROI:
count     726.00
mean       45.75
std       572.04
min         0.01
25%         2.65
50%         6.50
75%        13.55
max     13333.33
Name: ROI, dtype: float64

Number of companies with ROI data: 726 (0.37%)

In [17]:
# Analyze geographic distribution
geo_columns = ['country_code', 'state_code', 'city', 'region']
for col in geo_columns:
    if col in companies_df.columns and companies_df[col].notna().sum() > 0:
        top_locations = companies_df[col].value_counts().head(10)
        print(f"\nTop 10 {col} values:")
        print(top_locations)

Top 10 country_code values:
country_code
USA    51637
GBR     7372
IND     3924
CAN     3728
DEU     1921
FRA     1652
AUS     1455
ESP     1100
IRL     1079
ISR     1042
Name: count, dtype: int64

Top 10 state_code values:
state_code
CA    16489
NY     5732
MA     2937
TX     2811
FL     2154
WA     1895
IL     1742
PA     1322
NJ     1182
CO     1173
Name: count, dtype: int64

Top 10 city values:
city
New York         3816
San Francisco    3613
London           3030
Los Angeles      1068
Chicago          1026
Seattle           938
Austin            905
San Diego         810
Palo Alto         788
Toronto           739
Name: count, dtype: int64

Top 10 region values:
region
unknown          109866
SF Bay            10173
New York           5174
London             4065
Los Angeles        4057
Boston             2770
Washington DC      1802
Seattle            1620
Chicago            1611
San Diego          1196
Name: count, dtype: int64

In [18]:
# Create a comprehensive summary DataFrame for export
column_summary = []

for column in companies_df.columns:
    col_type = companies_df[column].dtype
    missing_count = companies_df[column].isna().sum()
    missing_pct = (missing_count / len(companies_df)) * 100

    if pd.api.types.is_numeric_dtype(companies_df[column]):
        unique_count = companies_df[column].nunique()
        min_val = companies_df[column].min() if not pd.isna(companies_df[column].min()) else None
        max_val = companies_df[column].max() if not pd.isna(companies_df[column].max()) else None
        mean_val = companies_df[column].mean() if not pd.isna(companies_df[column].mean()) else None
        most_common = None
        most_common_count = None
    else:
        unique_count = companies_df[column].nunique()
        min_val = None
        max_val = None
        mean_val = None
        if not companies_df[column].isna().all() and companies_df[column].value_counts().shape[0] > 0:
            most_common = str(companies_df[column].value_counts().index[0])
            most_common_count = companies_df[column].value_counts().iloc[0]
        else:
            most_common = None
            most_common_count = None

    column_summary.append({
        'Column': column,
        'Data Type': str(col_type),
        'Missing Values': missing_count,
        'Missing Percentage': missing_pct,
        'Unique Values': unique_count,
        'Min': min_val,
        'Max': max_val,
        'Mean': mean_val,
        'Most Common Value': most_common,
        'Most Common Count': most_common_count
    })

summary_df = pd.DataFrame(column_summary)
print("\nComprehensive column summary created successfully.")

Comprehensive column summary created successfully.

In [19]:
# Save the summary to CSV
summary_df.to_csv('eda_summary.csv', index=False)
print("Summary statistics saved to 'eda_summary.csv'")

Summary statistics saved to 'eda_summary.csv'

In [20]:
# Create visualizations for the PDF report
print("\nGenerating visualizations for the PDF report...")

# Function to create visualizations
def create_visualizations(df, pdf_path):
    with PdfPages(pdf_path) as pdf:
        # Set the style for all plots
        plt.style.use('seaborn-v0_8-whitegrid')

        # 1. Title page
        plt.figure(figsize=(8.5, 11))
        plt.text(0.5, 0.5, 'Exploratory Data Analysis\nCrunchbase Companies Dataset', 
                 horizontalalignment='center', verticalalignment='center', fontsize=24)
        plt.text(0.5, 0.4, f'Dataset contains {len(df):,} companies with {df.shape[1]} features', 
                 horizontalalignment='center', verticalalignment='center', fontsize=16)
        plt.axis('off')
        pdf.savefig()
        plt.close()

        # 2. Company status distribution
        if 'status' in df.columns:
            plt.figure(figsize=(10, 6))
            status_counts = df['status'].value_counts()
            status_counts.plot(kind='bar', color='skyblue')
            plt.title('Distribution of Company Statuses')
            plt.xlabel('Status')
            plt.ylabel('Count')
            plt.xticks(rotation=45)
            plt.tight_layout()
            pdf.savefig()
            plt.close()

            # Pie chart of status
            plt.figure(figsize=(10, 6))
            status_counts.plot(kind='pie', autopct='%1.1f%%', startangle=90, figsize=(10, 6))
            plt.title('Percentage Distribution of Company Statuses')
            plt.ylabel('')
            plt.tight_layout()
            pdf.savefig()
            plt.close()

        # 3. Category distribution (top 15)
        if 'category_code' in df.columns:
            plt.figure(figsize=(12, 6))
            top_categories = df['category_code'].value_counts().head(15)
            top_categories.plot(kind='bar', color='lightgreen')
            plt.title('Top 15 Industry Categories')
            plt.xlabel('Category')
            plt.ylabel('Count')
            plt.xticks(rotation=45)
            plt.tight_layout()
            pdf.savefig()
            plt.close()

        # 4. Funding rounds distribution
        if 'funding_rounds' in df.columns:
            plt.figure(figsize=(10, 6))
            # Filter out NaN values
            funding_data = df['funding_rounds'].dropna()
            sns.histplot(funding_data, bins=10, kde=True)
            plt.title('Distribution of Funding Rounds')
            plt.xlabel('Number of Funding Rounds')
            plt.ylabel('Count')
            plt.tight_layout()
            pdf.savefig()
            plt.close()

        # 5. Total funding distribution (log scale)
        if 'funding_total_usd' in df.columns:
            plt.figure(figsize=(10, 6))
            # Filter out NaN and zero values for log scale
            funding_total = df['funding_total_usd'].dropna()
            funding_total = funding_total[funding_total > 0]

            if len(funding_total) > 0:
                plt.hist(np.log10(funding_total), bins=20, color='salmon')
                plt.title('Distribution of Total Funding (Log Scale)')
                plt.xlabel('Log10(Total Funding in USD)')
                plt.ylabel('Count')
                plt.tight_layout()
                pdf.savefig()
                plt.close()

        # 6. ROI distribution
        if 'ROI' in df.columns:
            plt.figure(figsize=(10, 6))
            roi_data = df['ROI'].dropna()

            if len(roi_data) > 0:
                sns.histplot(roi_data, bins=20, kde=True)
                plt.title('Distribution of ROI')
                plt.xlabel('ROI')
                plt.ylabel('Count')
                plt.tight_layout()
                pdf.savefig()
                plt.close()

                # ROI boxplot
                plt.figure(figsize=(10, 6))
                sns.boxplot(x=roi_data)
                plt.title('Boxplot of ROI')
                plt.xlabel('ROI')
                plt.tight_layout()
                pdf.savefig()
                plt.close()

        # 7. Geographic distribution - Countries
        if 'country_code' in df.columns:
            plt.figure(figsize=(12, 6))
            top_countries = df['country_code'].value_counts().head(10)
            top_countries.plot(kind='bar', color='lightblue')
            plt.title('Top 10 Countries')
            plt.xlabel('Country Code')
            plt.ylabel('Count')
            plt.xticks(rotation=45)
            plt.tight_layout()
            pdf.savefig()
            plt.close()

        # 8. Company founding years distribution
        if 'founded_at' in df.columns:
            plt.figure(figsize=(12, 6))
            # Extract year from founded_at
            founded_years = df['founded_at'].dropna().dt.year

            if len(founded_years) > 0:
                plt.hist(founded_years, bins=30, color='lightgreen')
                plt.title('Distribution of Company Founding Years')
                plt.xlabel('Year')
                plt.ylabel('Count')
                plt.tight_layout()
                pdf.savefig()
                plt.close()

        # 9. Missing values visualization
        plt.figure(figsize=(14, 8))
        missing_data = df.isnull().sum() / len(df) * 100
        missing_data = missing_data[missing_data > 0].sort_values(ascending=False)

        if len(missing_data) > 0:
            missing_data.plot(kind='bar', color='coral')
            plt.title('Percentage of Missing Values by Column')
            plt.xlabel('Columns')
            plt.ylabel('Percentage Missing')
            plt.xticks(rotation=90)
            plt.tight_layout()
            pdf.savefig()
            plt.close()

        # 10. Correlation heatmap for numerical columns
        plt.figure(figsize=(14, 10))
        numerical_df = df.select_dtypes(include=[np.number])

        # Drop columns with all NaN values
        numerical_df = numerical_df.dropna(axis=1, how='all')

        if numerical_df.shape[1] > 1:  # Only create heatmap if we have at least 2 numerical columns
            correlation = numerical_df.corr()
            mask = np.triu(np.ones_like(correlation, dtype=bool))
            sns.heatmap(correlation, mask=mask, annot=True, fmt=".2f", cmap='coolwarm', 
                        linewidths=0.5, cbar_kws={"shrink": .8})
            plt.title('Correlation Heatmap of Numerical Features')
            plt.tight_layout()
            pdf.savefig()
            plt.close()

        # 11. Relationship between funding and ROI (if both exist)
        if 'funding_total_usd' in df.columns and 'ROI' in df.columns:
            plt.figure(figsize=(10, 6))
            # Filter for non-null values in both columns
            funding_roi_df = df[['funding_total_usd', 'ROI']].dropna()

            if len(funding_roi_df) > 0:
                # For better visualization, filter out extreme values
                q_low = funding_roi_df['ROI'].quantile(0.01)
                q_high = funding_roi_df['ROI'].quantile(0.99)
                filtered_df = funding_roi_df[(funding_roi_df['ROI'] >= q_low) & 
                                            (funding_roi_df['ROI'] <= q_high) & 
                                            (funding_roi_df['funding_total_usd'] > 0)]

                if len(filtered_df) > 0:
                    plt.scatter(np.log10(filtered_df['funding_total_usd']), filtered_df['ROI'], alpha=0.5)
                    plt.title('Relationship Between Total Funding and ROI')
                    plt.xlabel('Log10(Total Funding in USD)')
                    plt.ylabel('ROI')
                    plt.tight_layout()
                    pdf.savefig()
                    plt.close()

        # 12. Status by category (top 10 categories)
        if 'category_code' in df.columns and 'status' in df.columns:
            plt.figure(figsize=(14, 8))
            # Get top 10 categories
            top_cats = df['category_code'].value_counts().head(10).index

            # Filter for those categories
            cat_status_df = df[df['category_code'].isin(top_cats)]

            if len(cat_status_df) > 0:
                # Create a crosstab
                cat_status = pd.crosstab(cat_status_df['category_code'], cat_status_df['status'])

                # Plot stacked bar chart
                cat_status.plot(kind='bar', stacked=True, figsize=(14, 8))
                plt.title('Company Status by Top 10 Categories')
                plt.xlabel('Category')
                plt.ylabel('Count')
                plt.xticks(rotation=45)
                plt.legend(title='Status')
                plt.tight_layout()
                pdf.savefig()
                plt.close()

        print(f"PDF report with {pdf.get_pagecount()} pages created successfully.")

# Create the visualizations PDF
create_visualizations(companies_df, 'eda_visualizations.pdf')
print("Visualizations saved to 'eda_visualizations.pdf'")

Generating visualizations for the PDF report...
PDF report with 14 pages created successfully.
Visualizations saved to 'eda_visualizations.pdf'

In [21]:
# Final summary of findings
print("\n=== SUMMARY OF INITIAL DATA EXPLORATION ===")
print(f"Total number of companies in the dataset: {companies_df.shape[0]}")
print(f"Total number of features: {companies_df.shape[1]}")

# Count companies by status
if 'status' in companies_df.columns:
    print("\nCompany Status Distribution:")
    for status, count in companies_df['status'].value_counts().items():
        print(f"  - {status}: {count} companies ({count/len(companies_df)*100:.2f}%)")

# Funding summary
if 'funding_total_usd' in companies_df.columns:
    funded_companies = companies_df['funding_total_usd'].notna().sum()
    avg_funding = companies_df['funding_total_usd'].mean()
    print(f"\nFunding Summary:")
    print(f"  - Companies with funding data: {funded_companies} ({funded_companies/len(companies_df)*100:.2f}%)")
    print(f"  - Average funding amount: ${avg_funding:,.2f}")

# ROI summary
if 'ROI' in companies_df.columns:
    roi_companies = companies_df['ROI'].notna().sum()
    avg_roi = companies_df['ROI'].mean()
    print(f"\nROI Summary:")
    print(f"  - Companies with ROI data: {roi_companies} ({roi_companies/len(companies_df)*100:.2f}%)")
    print(f"  - Average ROI: {avg_roi:.2f}")

# Geographic summary
if 'country_code' in companies_df.columns:
    countries = companies_df['country_code'].notna().sum()
    top_country = companies_df['country_code'].value_counts().index[0] if companies_df['country_code'].value_counts().shape[0] > 0 else "Unknown"
    top_country_count = companies_df['country_code'].value_counts().iloc[0] if companies_df['country_code'].value_counts().shape[0] > 0 else 0
    print(f"\nGeographic Summary:")
    print(f"  - Companies with country data: {countries} ({countries/len(companies_df)*100:.2f}%)")
    print(f"  - Most common country: {top_country} with {top_country_count} companies")

print("\nPotential target variables for defining 'success':")
print("  1. Status (e.g., 'acquired', 'ipo' as success indicators)")
print("  2. ROI (Return on Investment)")
print("  3. Funding amount (total funding raised)")
print("  4. Longevity (time between founding and current/closing date)")
print("  5. Combination of the above factors")

print("\nEDA completed successfully. Results saved to 'eda_summary.csv' and 'eda_visualizations.pdf'")

=== SUMMARY OF INITIAL DATA EXPLORATION ===
Total number of companies in the dataset: 196553
Total number of features: 44

Company Status Distribution:
  - operating: 183441 companies (93.33%)
  - acquired: 9394 companies (4.78%)
  - closed: 2584 companies (1.31%)
  - ipo: 1134 companies (0.58%)

Funding Summary:
  - Companies with funding data: 27874 (14.18%)
  - Average funding amount: $14,816,520.42

ROI Summary:
  - Companies with ROI data: 726 (0.37%)
  - Average ROI: 45.75

Geographic Summary:
  - Companies with country data: 87990 (44.77%)
  - Most common country: USA with 51637 companies

Potential target variables for defining 'success':
  1. Status (e.g., 'acquired', 'ipo' as success indicators)
  2. ROI (Return on Investment)
  3. Funding amount (total funding raised)
  4. Longevity (time between founding and current/closing date)
  5. Combination of the above factors

EDA completed successfully. Results saved to 'eda_summary.csv' and 'eda_visualizations.pdf'