# EDA on uncleaned USA companies
Perform initial exploration of the dataset to understand its structure, available features, missing values, and potential target variables for defining "success". This step will help us understand what we're working with and how to approach the problem.

In [20]:
# Import necessary libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from matplotlib.backends.backend_pdf import PdfPages
import os
import warnings

# Suppress warnings for cleaner output
warnings.filterwarnings('ignore')

# Set display options for better readability
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', 100)
pd.set_option('display.width', 1000)
pd.set_option('display.float_format', '{:.2f}'.format)

In [21]:
# Load the dataset
# id,Unnamed: 0.1,entity_type,entity_id,parent_id,name,normalized_name,permalink,category_code,status,founded_at,closed_at,domain,homepage_url,twitter_username,logo_url,logo_width,logo_height,short_description,description,overview,tag_list,country_code,state_code,city,region,first_investment_at,last_investment_at,investment_rounds,invested_companies,first_funding_at,last_funding_at,funding_rounds,funding_total_usd,first_milestone_at,last_milestone_at,milestones,relationships,created_by,created_at,updated_at,lat,lng,ROI
try:
    companies_df = pd.read_csv('/Users/aminosaurier/Downloads/spring_2025_startup_survival/usa_cleaned_companies.csv', sep=',', header=0)
    print(f"Dataset loaded successfully with {companies_df.shape[0]} rows and {companies_df.shape[1]} columns.")
except Exception as e:
    print(f"Error loading dataset: {e}")

Dataset loaded successfully with 51637 rows and 19 columns.

In [22]:
# Display the first few rows to understand the data structure
print("First 15 rows of the dataset:")
print(companies_df.head(15))

First 15 rows of the dataset:
   entity_type                  name category_code     status  founded_at country_code state_code           city              region first_funding_at last_funding_at  funding_rounds  funding_total_usd first_milestone_at last_milestone_at  milestones  relationships           created_at           updated_at
0      Company              Wetpaint           web  operating  2005-10-17          USA         WA        Seattle             Seattle       2005-10-01      2008-05-19            3.00        39750000.00         2010-09-05        2013-09-18        5.00          17.00  2007-05-25 06:51:27  2013-04-13 03:29:00
1      Company               Flektor   games_video   acquired         NaN          USA         CA    Culver City         Los Angeles              NaN             NaN             NaN                NaN                NaN               NaN         NaN           6.00  2007-05-31 21:11:51  2008-05-23 23:23:14
2      Company                 There   games_video   acquired         NaN          USA         CA      San Mateo              SF Bay              NaN             NaN             NaN                NaN         2003-02-01        2011-09-23        4.00          12.00  2007-08-06 23:52:45  2013-11-04 02:09:48
3      Company     Thomas Publishing   advertising  operating         NaN          USA         NY       New York            New York              NaN             NaN             NaN                NaN         1999-06-01        1999-06-01        1.00           2.00  2008-08-24 20:21:21  2009-11-19 17:21:00
4      Company       dimension5 labs   advertising  operating  2008-08-01          USA         NM       Santa Fe            Santa Fe              NaN             NaN             NaN                NaN         2008-08-22        2008-08-22        1.00           2.00  2008-08-24 21:54:55  2008-12-21 17:21:53
5      Company            FriendFeed           web   acquired  2007-10-01          USA         CA  Mountain View              SF Bay       2008-02-26      2008-02-26            1.00         5000000.00         2008-05-01        2012-09-13        3.00          14.00  2007-10-01 10:17:13  2013-03-13 21:44:15
6      Company  PoetryVisualized.com   games_video  operating  2008-01-01          USA         CA         Julian           San Diego              NaN             NaN             NaN                NaN         2008-01-01        2008-01-01        1.00           3.00  2008-08-24 22:21:46  2009-04-03 20:32:21
7      Company               Mobclix        mobile   acquired  2008-03-01          USA         CA      Palo Alto              SF Bay       2008-09-01      2008-09-01            1.00                NaN         1995-03-01        2012-09-18        4.00           9.00  2008-08-25 01:32:43  2012-09-22 03:36:21
8      Company                Fitbit        health  operating  2007-10-01          USA         CA  San Francisco              SF Bay       2008-10-10      2013-08-13            5.00        68069200.00                NaN               NaN         NaN          14.00  2008-08-25 02:16:54  2013-12-04 09:52:42
9      Company                  MTPV     cleantech  operating  2003-01-01          USA         TX         Austin              Austin       2011-03-08      2012-01-26            3.00        10125293.00         2010-01-01        2010-01-01        1.00           6.00  2011-09-07 02:01:00  2013-04-10 04:35:04
10     Company            Demandbase     analytics  operating  2006-01-01          USA         CA  San Francisco              SF Bay       2008-08-25      2013-03-28            3.00        33000000.00         2010-05-18        2013-03-01        3.00          19.00  2008-08-25 03:35:42  2013-10-23 11:32:49
11     Company              AirSpeed      software  operating  2011-01-01          USA         CA  San Francisco              SF Bay              NaN             NaN             NaN                NaN                NaN               NaN         NaN            NaN  2011-09-07 02:18:41  2012-12-13 04:36:39
12     Company      Betts Recruiting    consulting  operating  2009-10-01          USA         NY  San Francisco             unknown              NaN             NaN             NaN                NaN         2009-03-01        2009-03-01        1.00           2.00  2011-09-07 02:43:15  2013-06-10 20:26:20
13     Company          Fundable.com       finance  operating  2012-05-22          USA         OH         Powell            Columbus              NaN             NaN             NaN                NaN         2012-04-01        2013-12-11        4.00           3.00  2008-08-25 04:04:26  2013-12-03 12:43:43
14     Company             iHireHelp     education  operating  2010-10-01          USA         NJ            NaN  New Jersey - Other       2011-04-16      2011-04-16            1.00          100000.00         2010-10-01        2010-10-01        1.00            NaN  2011-09-07 02:57:58  2011-11-10 22:38:22

In [25]:
# Check for missing values
missing_values = companies_df.isnull().sum()
missing_percentage = (missing_values / len(companies_df)) * 100

# Create a DataFrame to display missing values information
missing_info = pd.DataFrame({
    'Missing Values': missing_values,
    'Missing Percentage': missing_percentage
})

print("\nMissing values analysis:")
with pd.option_context('display.max_rows', None, 'display.width', 1000):
    print(missing_info.sort_values('Missing Percentage', ascending=False))

Missing values analysis:
                    Missing Values  Missing Percentage
funding_total_usd            33495               64.87
first_funding_at             32004               61.98
last_funding_at              32004               61.98
funding_rounds               31905               61.79
last_milestone_at            24967               48.35
milestones                   24967               48.35
first_milestone_at           24967               48.35
relationships                13475               26.10
founded_at                   13012               25.20
category_code                 4313                8.35
city                          1453                2.81
state_code                     975                1.89
name                             2                0.00
entity_type                      0                0.00
status                           0                0.00
region                           0                0.00
country_code                     0                0.00
created_at                       0                0.00
updated_at                       0                0.00

In [ ]:
# Check basic information about the dataset
print("\nBasic information about the dataset:")
companies_df.info()

Basic information about the dataset:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 51637 entries, 0 to 51636
Data columns (total 19 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   entity_type         51637 non-null  object
 1   name                51635 non-null  object
 2   category_code       47324 non-null  object
 3   status              51637 non-null  object
 4   founded_at          38625 non-null  object
 5   country_code        51637 non-null  object
 6   state_code          50662 non-null  object
 7   city                50184 non-null  object
 8   region              51637 non-null  object
 9   first_funding_at    19633 non-null  object
 10  last_funding_at     19633 non-null  object
 11  funding_rounds      19732 non-null  float64
 12  funding_total_usd   18142 non-null  float64
 13  first_milestone_at  26670 non-null  object
 14  last_milestone_at   26670 non-null  object
 15  milestones          26670 non-null  float64
 16  relationships       38162 non-null  float64
 17  created_at          51637 non-null  object
 18  updated_at          51637 non-null  object
dtypes: float64(4), object(15)
memory usage: 7.5+ MB

In [ ]:
# Check for duplicate rows
duplicate_count = companies_df.duplicated().sum()
print(f"\nNumber of duplicate rows: {duplicate_count}")

Number of duplicate rows: 0

In [ ]:
# Examine data types and convert date columns to datetime format
print("\nData types before conversion:")
print(companies_df.dtypes)

# Identify date columns
date_columns = ['founded_at', 'closed_at', 'first_investment_at', 'last_investment_at', 
                'first_funding_at', 'last_funding_at', 'first_milestone_at', 
                'last_milestone_at', 'created_at', 'updated_at']

# Convert date columns to datetime
for col in date_columns:
    if col in companies_df.columns:
        companies_df[col] = pd.to_datetime(companies_df[col], errors='coerce')

print("\nData types after date conversion:")
print(companies_df.dtypes)

Data types before conversion:
entity_type            object
name                   object
category_code          object
status                 object
founded_at             object
country_code           object
state_code             object
city                   object
region                 object
first_funding_at       object
last_funding_at        object
funding_rounds        float64
funding_total_usd     float64
first_milestone_at     object
last_milestone_at      object
milestones            float64
relationships         float64
created_at             object
updated_at             object
dtype: object

Data types after date conversion:
entity_type                   object
name                          object
category_code                 object
status                        object
founded_at            datetime64[ns]
country_code                  object
state_code                    object
city                          object
region                        object
first_funding_at      datetime64[ns]
last_funding_at       datetime64[ns]
funding_rounds               float64
funding_total_usd            float64
first_milestone_at    datetime64[ns]
last_milestone_at     datetime64[ns]
milestones                   float64
relationships                float64
created_at            datetime64[ns]
updated_at            datetime64[ns]
dtype: object

In [ ]:
# Generate summary statistics for numerical columns
numerical_summary = companies_df.describe(include=[np.number])
print("\nSummary statistics for numerical columns:")
print(numerical_summary)

Summary statistics for numerical columns:
       funding_rounds  funding_total_usd  milestones  relationships
count        19732.00           18142.00    26670.00       38162.00
mean             1.83        16207604.01        1.46           4.95
std              1.35        46897804.77        0.77          15.67
min              1.00             291.00        1.00           1.00
25%              1.00          750000.00        1.00           1.00
50%              1.00         3500000.00        1.00           3.00
75%              2.00        13950000.00        2.00           5.00
max             14.00       833952250.00        9.00        1189.00

In [ ]:
# Analyze categorical columns
categorical_columns = companies_df.select_dtypes(include=['object']).columns
categorical_summary = pd.DataFrame({
    'Column': categorical_columns,
    'Unique Values': [companies_df[col].nunique() for col in categorical_columns],
    'Most Common Value': [companies_df[col].value_counts().index[0] if not companies_df[col].isna().all() and len(companies_df[col].value_counts()) > 0 else 'N/A' for col in categorical_columns],
    'Most Common Count': [companies_df[col].value_counts().iloc[0] if not companies_df[col].isna().all() and len(companies_df[col].value_counts()) > 0 else 0 for col in categorical_columns],
    'Missing Values': [companies_df[col].isna().sum() for col in categorical_columns],
    'Missing Percentage': [companies_df[col].isna().sum() / len(companies_df) * 100 for col in categorical_columns]
})

print("\nSummary of categorical columns:")
print(categorical_summary)

Summary of categorical columns:
          Column  Unique Values     Most Common Value  Most Common Count  Missing Values  Missing Percentage
0    entity_type              1               Company              51637               0                0.00
1           name          51631  eHealth Technologies                  2               2                0.00
2  category_code             42              software               7642            4313                8.35
3         status              4             operating              44388               0                0.00
4   country_code              1                   USA              51637               0                0.00
5     state_code             51                    CA              16447             975                1.89
6           city           4311              New York               3809            1453                2.81
7         region           1812                SF Bay              10062               0                0.00

In [ ]:
# Analyze the 'status' column
if 'status' in companies_df.columns:
    status_counts = companies_df['status'].value_counts()
    print("\nDistribution of company statuses:")
    print(status_counts)

    # Calculate percentage
    status_percentage = (status_counts / status_counts.sum() * 100).round(2)
    print("\nPercentage distribution of company statuses:")
    print(status_percentage)

Distribution of company statuses:
status
operating    44388
acquired      4974
closed        1354
ipo            921
Name: count, dtype: int64

Percentage distribution of company statuses:
status
operating   85.96
acquired     9.63
closed       2.62
ipo          1.78
Name: count, dtype: float64

In [ ]:
# Analyze the 'category_code' column to understand industry distribution
if 'category_code' in companies_df.columns:
    category_counts = companies_df['category_code'].value_counts().head(20)  # Top 20 categories
    print("\nTop 20 industry categories:")
    print(category_counts)

Top 20 industry categories:
category_code
software            7642
web                 5584
other               4293
biotech             3001
ecommerce           2766
advertising         2579
mobile              2552
enterprise          2063
consulting          2006
games_video         1954
hardware            1419
public_relations    1112
cleantech           1001
network_hosting      921
education            850
health               720
medical              628
analytics            596
security             566
search               561
Name: count, dtype: int64

In [ ]:
# Analyze funding information
funding_columns = ['funding_rounds', 'funding_total_usd']
for col in funding_columns:
    if col in companies_df.columns:
        print(f"\nSummary statistics for {col}:")
        print(companies_df[col].describe())

Summary statistics for funding_rounds:
count   19732.00
mean        1.83
std         1.35
min         1.00
25%         1.00
50%         1.00
75%         2.00
max        14.00
Name: funding_rounds, dtype: float64

Summary statistics for funding_total_usd:
count       18142.00
mean     16207604.01
std      46897804.77
min           291.00
25%        750000.00
50%       3500000.00
75%      13950000.00
max     833952250.00
Name: funding_total_usd, dtype: float64

In [ ]:
# Analyze ROI as a potential target variable
if 'ROI' in companies_df.columns:
    print("\nSummary statistics for ROI:")
    print(companies_df['ROI'].describe())

    # Count non-null ROI values
    roi_count = companies_df['ROI'].notna().sum()
    print(f"\nNumber of companies with ROI data: {roi_count} ({roi_count/len(companies_df)*100:.2f}%)")

In [ ]:
# Analyze geographic distribution
geo_columns = ['country_code', 'state_code', 'city', 'region']
for col in geo_columns:
    if col in companies_df.columns and companies_df[col].notna().sum() > 0:
        top_locations = companies_df[col].value_counts().head(10)
        print(f"\nTop 10 {col} values:")
        print(top_locations)

Top 10 country_code values:
country_code
USA    51637
Name: count, dtype: int64

Top 10 state_code values:
state_code
CA    16447
NY     5716
MA     2933
TX     2802
FL     2149
WA     1887
IL     1736
PA     1320
NJ     1179
CO     1172
Name: count, dtype: int64

Top 10 city values:
city
New York         3809
San Francisco    3612
Los Angeles      1068
Chicago          1025
Seattle           936
Austin            905
San Diego         808
Palo Alto         786
Boston            675
Atlanta           630
Name: count, dtype: int64

Top 10 region values:
region
SF Bay           10062
New York          5166
Los Angeles       4051
Boston            2755
Washington DC     1776
Seattle           1615
Chicago           1608
San Diego         1195
Atlanta           1044
Dallas            1005
Name: count, dtype: int64

In [ ]:
# Create a comprehensive summary DataFrame for export
column_summary = []

for column in companies_df.columns:
    col_type = companies_df[column].dtype
    missing_count = companies_df[column].isna().sum()
    missing_pct = (missing_count / len(companies_df)) * 100

    if pd.api.types.is_numeric_dtype(companies_df[column]):
        unique_count = companies_df[column].nunique()
        min_val = companies_df[column].min() if not pd.isna(companies_df[column].min()) else None
        max_val = companies_df[column].max() if not pd.isna(companies_df[column].max()) else None
        mean_val = companies_df[column].mean() if not pd.isna(companies_df[column].mean()) else None
        most_common = None
        most_common_count = None
    else:
        unique_count = companies_df[column].nunique()
        min_val = None
        max_val = None
        mean_val = None
        if not companies_df[column].isna().all() and companies_df[column].value_counts().shape[0] > 0:
            most_common = str(companies_df[column].value_counts().index[0])
            most_common_count = companies_df[column].value_counts().iloc[0]
        else:
            most_common = None
            most_common_count = None

    column_summary.append({
        'Column': column,
        'Data Type': str(col_type),
        'Missing Values': missing_count,
        'Missing Percentage': missing_pct,
        'Unique Values': unique_count,
        'Min': min_val,
        'Max': max_val,
        'Mean': mean_val,
        'Most Common Value': most_common,
        'Most Common Count': most_common_count
    })

summary_df = pd.DataFrame(column_summary)
print("\nComprehensive column summary created successfully.")

Comprehensive column summary created successfully.

In [ ]:
# Save the summary to CSV
summary_df.to_csv('usa_cleaned_eda_summary.csv', index=False)
print("Summary statistics saved to 'usa_cleaned_eda_summary.csv'")

Summary statistics saved to 'usa_cleaned_eda_summary.csv'

In [ ]:
# Create visualizations for the PDF report
print("\nGenerating visualizations for the PDF report...")

# Function to create visualizations
def create_visualizations(df, pdf_path):
    with PdfPages(pdf_path) as pdf:
        # Set the style for all plots
        plt.style.use('seaborn-v0_8-whitegrid')

        # 1. Title page
        plt.figure(figsize=(8.5, 11))
        plt.text(0.5, 0.5, 'Exploratory Data Analysis\nCrunchbase Companies Dataset', 
                 horizontalalignment='center', verticalalignment='center', fontsize=24)
        plt.text(0.5, 0.4, f'Dataset contains {len(df):,} companies with {df.shape[1]} features', 
                 horizontalalignment='center', verticalalignment='center', fontsize=16)
        plt.axis('off')
        pdf.savefig()
        plt.close()

        # 2. Company status distribution
        if 'status' in df.columns:
            plt.figure(figsize=(10, 6))
            status_counts = df['status'].value_counts()
            status_counts.plot(kind='bar', color='skyblue')
            plt.title('Distribution of Company Statuses')
            plt.xlabel('Status')
            plt.ylabel('Count')
            plt.xticks(rotation=45)
            plt.tight_layout()
            pdf.savefig()
            plt.close()

            # Pie chart of status
            plt.figure(figsize=(10, 6))
            status_counts.plot(kind='pie', autopct='%1.1f%%', startangle=90, figsize=(10, 6))
            plt.title('Percentage Distribution of Company Statuses')
            plt.ylabel('')
            plt.tight_layout()
            pdf.savefig()
            plt.close()

        # 3. Category distribution (top 15)
        if 'category_code' in df.columns:
            plt.figure(figsize=(12, 6))
            top_categories = df['category_code'].value_counts().head(15)
            top_categories.plot(kind='bar', color='lightgreen')
            plt.title('Top 15 Industry Categories')
            plt.xlabel('Category')
            plt.ylabel('Count')
            plt.xticks(rotation=45)
            plt.tight_layout()
            pdf.savefig()
            plt.close()

        # 4. Funding rounds distribution
        if 'funding_rounds' in df.columns:
            plt.figure(figsize=(10, 6))
            # Filter out NaN values
            funding_data = df['funding_rounds'].dropna()
            sns.histplot(funding_data, bins=10, kde=True)
            plt.title('Distribution of Funding Rounds')
            plt.xlabel('Number of Funding Rounds')
            plt.ylabel('Count')
            plt.tight_layout()
            pdf.savefig()
            plt.close()

        # 5. Total funding distribution (log scale)
        if 'funding_total_usd' in df.columns:
            plt.figure(figsize=(10, 6))
            # Filter out NaN and zero values for log scale
            funding_total = df['funding_total_usd'].dropna()
            funding_total = funding_total[funding_total > 0]

            if len(funding_total) > 0:
                plt.hist(np.log10(funding_total), bins=20, color='salmon')
                plt.title('Distribution of Total Funding (Log Scale)')
                plt.xlabel('Log10(Total Funding in USD)')
                plt.ylabel('Count')
                plt.tight_layout()
                pdf.savefig()
                plt.close()

        # 6. ROI distribution
        if 'ROI' in df.columns:
            plt.figure(figsize=(10, 6))
            roi_data = df['ROI'].dropna()

            if len(roi_data) > 0:
                sns.histplot(roi_data, bins=20, kde=True)
                plt.title('Distribution of ROI')
                plt.xlabel('ROI')
                plt.ylabel('Count')
                plt.tight_layout()
                pdf.savefig()
                plt.close()

                # ROI boxplot
                plt.figure(figsize=(10, 6))
                sns.boxplot(x=roi_data)
                plt.title('Boxplot of ROI')
                plt.xlabel('ROI')
                plt.tight_layout()
                pdf.savefig()
                plt.close()

        # 7. Geographic distribution - Countries
        if 'country_code' in df.columns:
            plt.figure(figsize=(12, 6))
            top_countries = df['country_code'].value_counts().head(10)
            top_countries.plot(kind='bar', color='lightblue')
            plt.title('Top 10 Countries')
            plt.xlabel('Country Code')
            plt.ylabel('Count')
            plt.xticks(rotation=45)
            plt.tight_layout()
            pdf.savefig()
            plt.close()

        # 8. Company founding years distribution
        if 'founded_at' in df.columns:
            plt.figure(figsize=(12, 6))
            # Extract year from founded_at
            founded_years = df['founded_at'].dropna().dt.year

            if len(founded_years) > 0:
                plt.hist(founded_years, bins=30, color='lightgreen')
                plt.title('Distribution of Company Founding Years')
                plt.xlabel('Year')
                plt.ylabel('Count')
                plt.tight_layout()
                pdf.savefig()
                plt.close()

        # 9. Missing values visualization
        plt.figure(figsize=(14, 8))
        missing_data = df.isnull().sum() / len(df) * 100
        missing_data = missing_data[missing_data > 0].sort_values(ascending=False)

        if len(missing_data) > 0:
            missing_data.plot(kind='bar', color='coral')
            plt.title('Percentage of Missing Values by Column')
            plt.xlabel('Columns')
            plt.ylabel('Percentage Missing')
            plt.xticks(rotation=90)
            plt.tight_layout()
            pdf.savefig()
            plt.close()

        # 10. Correlation heatmap for numerical columns
        plt.figure(figsize=(14, 10))
        numerical_df = df.select_dtypes(include=[np.number])

        # Drop columns with all NaN values
        numerical_df = numerical_df.dropna(axis=1, how='all')

        if numerical_df.shape[1] > 1:  # Only create heatmap if we have at least 2 numerical columns
            correlation = numerical_df.corr()
            mask = np.triu(np.ones_like(correlation, dtype=bool))
            sns.heatmap(correlation, mask=mask, annot=True, fmt=".2f", cmap='coolwarm', 
                        linewidths=0.5, cbar_kws={"shrink": .8})
            plt.title('Correlation Heatmap of Numerical Features')
            plt.tight_layout()
            pdf.savefig()
            plt.close()

        # 11. Relationship between funding and ROI (if both exist)
        if 'funding_total_usd' in df.columns and 'ROI' in df.columns:
            plt.figure(figsize=(10, 6))
            # Filter for non-null values in both columns
            funding_roi_df = df[['funding_total_usd', 'ROI']].dropna()

            if len(funding_roi_df) > 0:
                # For better visualization, filter out extreme values
                q_low = funding_roi_df['ROI'].quantile(0.01)
                q_high = funding_roi_df['ROI'].quantile(0.99)
                filtered_df = funding_roi_df[(funding_roi_df['ROI'] >= q_low) & 
                                            (funding_roi_df['ROI'] <= q_high) & 
                                            (funding_roi_df['funding_total_usd'] > 0)]

                if len(filtered_df) > 0:
                    plt.scatter(np.log10(filtered_df['funding_total_usd']), filtered_df['ROI'], alpha=0.5)
                    plt.title('Relationship Between Total Funding and ROI')
                    plt.xlabel('Log10(Total Funding in USD)')
                    plt.ylabel('ROI')
                    plt.tight_layout()
                    pdf.savefig()
                    plt.close()

        # 12. Status by category (top 10 categories)
        if 'category_code' in df.columns and 'status' in df.columns:
            plt.figure(figsize=(14, 8))
            # Get top 10 categories
            top_cats = df['category_code'].value_counts().head(10).index

            # Filter for those categories
            cat_status_df = df[df['category_code'].isin(top_cats)]

            if len(cat_status_df) > 0:
                # Create a crosstab
                cat_status = pd.crosstab(cat_status_df['category_code'], cat_status_df['status'])

                # Plot stacked bar chart
                cat_status.plot(kind='bar', stacked=True, figsize=(14, 8))
                plt.title('Company Status by Top 10 Categories')
                plt.xlabel('Category')
                plt.ylabel('Count')
                plt.xticks(rotation=45)
                plt.legend(title='Status')
                plt.tight_layout()
                pdf.savefig()
                plt.close()

        print(f"PDF report with {pdf.get_pagecount()} pages created successfully.")

# Create the visualizations PDF
create_visualizations(companies_df, 'usa_cleaned_eda_visualizations.pdf')
print("Visualizations saved to 'usa_cleaned_eda_visualizations.pdf'")

Generating visualizations for the PDF report...
PDF report with 11 pages created successfully.
Visualizations saved to 'usa_cleaned_eda_visualizations.pdf'

In [ ]:
# Final summary of findings
print("\n=== SUMMARY OF INITIAL DATA EXPLORATION ===")
print(f"Total number of companies in the dataset: {companies_df.shape[0]}")
print(f"Total number of features: {companies_df.shape[1]}")

# Count companies by status
if 'status' in companies_df.columns:
    print("\nCompany Status Distribution:")
    for status, count in companies_df['status'].value_counts().items():
        print(f"  - {status}: {count} companies ({count/len(companies_df)*100:.2f}%)")

# Funding summary
if 'funding_total_usd' in companies_df.columns:
    funded_companies = companies_df['funding_total_usd'].notna().sum()
    avg_funding = companies_df['funding_total_usd'].mean()
    print(f"\nFunding Summary:")
    print(f"  - Companies with funding data: {funded_companies} ({funded_companies/len(companies_df)*100:.2f}%)")
    print(f"  - Average funding amount: ${avg_funding:,.2f}")

# ROI summary
if 'ROI' in companies_df.columns:
    roi_companies = companies_df['ROI'].notna().sum()
    avg_roi = companies_df['ROI'].mean()
    print(f"\nROI Summary:")
    print(f"  - Companies with ROI data: {roi_companies} ({roi_companies/len(companies_df)*100:.2f}%)")
    print(f"  - Average ROI: {avg_roi:.2f}")

# Geographic summary
if 'country_code' in companies_df.columns:
    countries = companies_df['country_code'].notna().sum()
    top_country = companies_df['country_code'].value_counts().index[0] if companies_df['country_code'].value_counts().shape[0] > 0 else "Unknown"
    top_country_count = companies_df['country_code'].value_counts().iloc[0] if companies_df['country_code'].value_counts().shape[0] > 0 else 0
    print(f"\nGeographic Summary:")
    print(f"  - Companies with country data: {countries} ({countries/len(companies_df)*100:.2f}%)")
    print(f"  - Most common country: {top_country} with {top_country_count} companies")

print("\nPotential target variables for defining 'success':")
print("  1. Status (e.g., 'acquired', 'ipo' as success indicators)")
print("  2. ROI (Return on Investment)")
print("  3. Funding amount (total funding raised)")
print("  4. Longevity (time between founding and current/closing date)")
print("  5. Combination of the above factors")

print("\nEDA completed successfully. Results saved to 'usa_cleaned_eda_summary.csv' and 'usa_cleaned_eda_visualizations.pdf'")

=== SUMMARY OF INITIAL DATA EXPLORATION ===
Total number of companies in the dataset: 51637
Total number of features: 19

Company Status Distribution:
  - operating: 44388 companies (85.96%)
  - acquired: 4974 companies (9.63%)
  - closed: 1354 companies (2.62%)
  - ipo: 921 companies (1.78%)

Funding Summary:
  - Companies with funding data: 18142 (35.13%)
  - Average funding amount: $16,207,604.01

Geographic Summary:
  - Companies with country data: 51637 (100.00%)
  - Most common country: USA with 51637 companies

Potential target variables for defining 'success':
  1. Status (e.g., 'acquired', 'ipo' as success indicators)
  2. ROI (Return on Investment)
  3. Funding amount (total funding raised)
  4. Longevity (time between founding and current/closing date)
  5. Combination of the above factors

EDA completed successfully. Results saved to 'usa_cleaned_eda_summary.csv' and 'usa_cleaned_eda_visualizations.pdf'